:root {
  --background_primary: #21173f;
  --background_secondary:#362958;
  --background_body:#231b36;
  --input_border:#413b4e;
  --background_pink: #FF346D;
  --background_pink_dark: #e43869;
  --white: #fff;
  --light_white: #cecece;
  --black:#000;
  --green:#34aa34;
  --red: #fc4141;
  --text: 16px;
  --text14: 14px;
  --text20: 20px;
  --label: 18px;
  --title: 35px;
  --title25: 25px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--background_body);
  min-height: 100vh;
}

.container {
  width: 100%;
  height: min-content;
}
.container__form, .container__img {
  width: 38%;
  min-height: calc(100vh - 120px);
}
.container__form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  box-sizing: border-box;
}
.container__img {
  width: 62%;
  background-image: url("../img/loginBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container__img::after {
  content: "";
  height: 100%;
  width: 15%;
  background-color: var(--background_body);
  position: absolute;
  left: -2px;
  top: 0;
  webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.container__index {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0px;
}

.main, .index, .control--orders, .control, .store, .cart, .product, .main__form {
  width: 1280px;
  height: min-content;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0px;
}
.main__form {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: min-content;
}
.main__background, .main__background--visible {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
}
.main__background--visible {
  display: initial;
}

.header__container {
  display: flex;
  justify-content: space-around;
  width: 450px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 620px;
  width: min-content;
}
.gallery--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: min-content;
  width: 100%;
  display: none;
}

.cart {
  min-height: calc(100vh - 400px);
}
.cart__container {
  padding: 0 5px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  overflow-y: auto;
}
.cart__grid--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/2/2;
}
.cart__grid--right {
  padding: 5px 5px 5px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  grid-area: 1/2/2/3;
}

.store {
  margin: 0;
}
.store__container {
  height: min-content;
}
.store__container--title, .store__container--products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "titulo titulo" "total select";
}
.store__container--menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px 20px;
  box-sizing: border-box;
  width: 250px;
  margin-top: 20px;
}
.store__container--products {
  min-height: 100px;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
.store__container--content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: clamp(600px, 75vw, 74%);
  height: min-content;
  margin-top: 20px;
  position: relative;
}
.store__container--paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: min-content;
  margin-top: 20px;
}
.store__container--select {
  grid-area: select;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.control {
  min-height: 600px;
}
.control__content, .control__content--orders, .control__content--wishlist, .control__content--data {
  width: calc(100% - 270px);
}
.control__content--data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 10px;
  height: min-content;
}
.control__content--wishlist {
  display: flex;
  flex-direction: column;
  width: calc(100% - 260px);
}
.control__content--orders {
  display: flex;
  flex-direction: column;
}
.control__wish {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin: 20px 0px;
}
.control__order {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.button--full, .card__button, .order__button--min, .order__button, .control__button, .order__button--external, .control__button--menu, .control__button--wish, .info__button, .control__link, .form__button, .info__button--wish, .info__button--buy, .paginator__button, .paginator__button--disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-weight: 600;
  background-color: var(--background_pink);
  text-decoration: none;
  border-radius: 5px;
  border: 5px solid var(--background_pink);
  box-sizing: border-box;
  cursor: pointer;
}

.paginator {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginator__page {
  color: var(--white);
  font-size: var(--label);
  font-weight: 600;
  margin: 0 10px;
}
.paginator__button, .paginator__button--disabled {
  height: 30px;
  width: 30px;
}
.paginator__button--disabled {
  filter: contrast(50%);
  cursor: default;
}

.card__class, .cart__data, .cart__product, .header__card, .index__card, .store__card, .order__product, .order__top, .content__billing, .content__pay, .content__data, .control__form--card, .control__form--billing, .control__card, .control__card--wish, .control__menu--mobile, .control__menu, .reviews__card, .info, .card__class--primary, .cart__billing, .cart__pay, .billing__card, .pay__card, .store__container--menu {
  width: min-content;
  height: min-content;
  background-color: var(--background_secondary);
  border-radius: 8px;
  overflow: hidden;
}
.card__class--primary, .cart__billing, .cart__pay, .billing__card, .pay__card {
  background-color: var(--background_primary);
}

.title__class, .store__title, .control__title--primary, .control__icon--img, .index__title, .desc__title--primary, .reviews__title, .specs__title--primary, .title {
  color: var(--white);
  font-size: var(--title);
  font-weight: 700;
}

.title25__class, .card__price, .store__title--secondary, .control__title, .order__title, .wish__title, .billing__title, .pay__title, .control__title--user, .control__title--mobile, .control__icon--collapse, .control__icon--menu {
  color: var(--white);
  font-size: var(--title25);
  font-weight: 600;
}

.text18__class, .card__title, .card__title--search, .card__title--long, .wish__icon--cart, .wish__icon--delete, .button--full, .card__button, .order__button--min, .order__button, .control__button, .order__button--external, .control__button--menu, .control__button--wish, .info__button, .control__link, .form__button, .info__button--wish, .info__button--buy, .paginator__button, .paginator__button--disabled {
  color: var(--white);
  font-size: var(--label);
  font-weight: initial;
}

.text__class, .card__platform, .card__platform--search, .store__span, .store__span--light, .order__platform, .order__number, .order__total, .order__text, .order__text--cant, .order__pay, .order__date, .order__span, .wish__text, .control__title--userMobile, .control__icon--platform, .reviews__text, .reviews__text--info, .reviews__text--date, .desc__text, .info__span--discount, .card__discount, .footer__link, .footer__copy, .header__cartCant {
  color: var(--white);
  font-size: var(--text);
  font-weight: initial;
}

.text14__class, .order__cant--min, .billing__text, .pay__text {
  color: var(--white);
  font-size: var(--text14);
  font-weight: initial;
}

.text20__class, .cart__button, .card__price--long, .card__price--search, .store__title--list, .info__title, .header__link, .header__link--list, .header__link--m10--list, .header__link--m10, .header__login {
  color: var(--white);
  font-size: var(--text20);
  font-weight: initial;
}

.icon__class, .store__filter, .index__arrow, .icon__class--pink, .store__icon--close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: var(--title25);
  font-weight: 700;
  width: min-content;
  height: min-content;
}

.icon__class--pink, .store__icon--close {
  color: var(--background_pink);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, var(--background_primary) 60%, var(--background_secondary) 40%);
  box-sizing: border-box;
}
.header__top, .header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  height: 60%;
  width: 1480px;
  position: relative;
}
.header__bottom {
  height: 40%;
  background-color: var(--background_secondary);
}
.header__logo {
  height: 100%;
}
.header__logo--img {
  height: 100%;
}
.header__logo--imgMovile {
  height: 100%;
  display: none;
}
.header__logo--movile {
  height: 100%;
}
.header__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  position: relative;
}
.header__input {
  padding: 0 10px;
  box-sizing: border-box;
  height: 45px;
  width: 90%;
  border: none;
  border-radius: 20px;
  outline: none;
}
.header__search {
  width: 10%;
  height: 1.5em;
}
.header__search path, .header__search polygon, .header__search rect {
  fill: var(--black);
}
.header__search circle {
  stroke: var(--black);
  stroke-width: 1;
}
.header__user, .header__cart {
  width: min-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  position: relative;
}
.header__user:hover .header__link, .header__user:hover .header__link--list, .header__user:hover .header__link--m10--list, .header__cart:hover .header__link--m10, .header__cart:hover .header__icon, .header__cart:hover .header__icon--search, .header__cart:hover .header__icon--menu {
  color: var(--background_pink);
}
.header__user--img {
  height: clamp(25px, 4vw, 30px) !important;
}
.header__user:hover .header__link--m10, .header__cart:hover .header__link--m10 {
  color: var(--background_pink);
}
.header__user:hover .header__userIcon path {
  fill: var(--background_pink);
}
.header__userIcon {
  width: 50px;
  height: 30px;
  position: relative;
}
.header__userIcon path {
  fill: var(--white);
}
.header__cartCant {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: 700;
  background-color: var(--background_pink);
  position: absolute;
  border-radius: 100%;
  padding: 2px;
  bottom: 0px;
  left: 30px;
}
.header__login {
  margin: 0px 10px;
}
.header__nav {
  width: 700px;
}
.header__nav--visible {
  display: flex !important;
  transition: opacity 0.3s;
  opacity: 1 !important;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.header__link, .header__link--list, .header__link--m10--list, .header__link--m10 {
  text-decoration: none;
  white-space: nowrap;
}
.header__link:hover, .header__link--list:hover, .header__link--m10--list:hover, .header__link--m10:hover {
  color: var(--background_pink);
}
.header__link--list:hover, .header__link--m10--list:hover {
  color: var(--background_pink);
}
.header__link--m10 {
  margin-left: 10px;
}
.header__icon, .header__icon--search, .header__icon--menu {
  font-size: clamp(25px, 4vw, 30px);
  color: var(--white);
  margin: 0px 15px;
  cursor: pointer;
}
.header__icon:hover, .header__icon--search:hover, .header__icon--menu:hover {
  color: var(--background_pink);
}
.header__icon--menu {
  font-size: clamp(30px, 5vw, 45px);
  margin-right: 10px;
}
.header__icon--search {
  display: none;
}
.header__container--movile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: min-content;
  display: none;
}
.header__container--search {
  padding: 0 5px;
  box-sizing: border-box;
  background-color: var(--white);
  width: 100%;
  height: min-content;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 4;
  border-radius: 8px;
}
.header__container--form {
  width: clamp(350px, 40vw, 450px);
  height: 50px;
  margin: 0px 20px;
}

.header--min {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  background-color: var(--background_primary);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: min-content;
  margin-top: auto;
  background: linear-gradient(180deg, var(--background_secondary) 80%, var(--background_primary) 20%);
  box-sizing: border-box;
}
.footer__top {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 960px;
  height: 80%;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  box-sizing: border-box;
  width: 960px;
  height: 20%;
}
.footer__list, .footer__list--networks {
  height: min-content;
  list-style: none;
  color: var(--white);
  padding: 0;
  margin: 15px 30px;
}
.footer__list--networks {
  margin-left: auto;
}
.footer__item, .footer__item--networks {
  margin-bottom: 10px;
}
.footer__item--title, .footer__item--networks--title {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer__item--networks {
  display: flex;
  justify-content: space-around;
}
.footer__link, .footer__copy {
  text-decoration: none;
  white-space: nowrap;
}
.footer__copy {
  white-space: pre-line;
  text-align: center;
}
.footer__link:hover {
  color: var(--background_pink);
}
.footer__logo {
  width: 350px;
  align-self: center;
}
.footer__icon {
  width: 40px;
  height: 50px;
}
.footer__icon path {
  fill: var(--white);
}
.footer__icon circle {
  stroke: var(--white);
  stroke-width: 1;
}

.gallery__img {
  height: 80%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.gallery__asset {
  height: 100%;
}
.gallery__asset--mobile {
  width: calc(100vw - 20px);
}
.gallery__container {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery__container--mobile {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.gallery__arrow {
  transition: all 0.25s;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 5px solid var(--background_pink);
  background-color: var(--background_pink);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.gallery__arrow:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.gallery__icon {
  width: 35px;
  height: 35px;
}
.gallery__icon path {
  fill: var(--white);
}
.gallery__min, .gallery__min--selected {
  width: min-content;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.gallery__min--selected {
  border: 2px solid var(--background_pink);
}
.gallery__wrapper {
  width: 10000px;
  display: flex;
  align-items: start;
  justify-content: start;
  transition: all 0.5s linear;
  cursor: grab;
}
.gallery__paginator {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 35%;
  bottom: 10px;
}
.gallery__ball, .gallery__ball--selected {
  height: 10px;
  width: 10px;
  transition: all 0.15s linear;
  background-color: var(--background_secondary);
  border: 2px solid var(--background_primary);
  border-radius: 100%;
}
.gallery__ball--selected {
  background-color: var(--background_pink);
}

.title {
  width: 100%;
  margin-top: 0px;
}

.info {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: 28%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.info__title {
  width: 100%;
  text-align: center;
}
.info__price {
  color: var(--white);
  font-size: clamp(25px, 2vw, 40px);
  font-weight: 400;
  margin: 15px;
  flex-grow: 1;
  text-align: center;
}
.info__price--discount, .card__price--discountSearch, .card__price--discount {
  color: var(--light_white);
  font-weight: 400;
  flex-grow: 1;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 10px;
  position: relative;
  text-decoration: line-through;
  text-decoration-color: var(--background_pink);
  text-decoration-thickness: 3px;
}
.info__asset {
  width: calc(100% + 40px);
  margin: -20px -20px 0px -20px;
  object-fit: cover;
}
.info__button--buy {
  width: 80%;
}
.info__button--buy:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.info__button--wish {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__button--wish:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.info__icon, .info__icon--stock {
  width: min-content;
  height: min-content;
  font-size: clamp(30px, 3vw, 50px);
  color: var(--background_pink);
}
.info__icon--data, .card__icon--selector, .card__icon {
  margin-right: 5px;
}
.info__container, .info__container--buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__list, .specs__list {
  width: 100%;
  list-style: none;
  margin: 45px 0px;
  padding: 0;
}
.info__item, .specs__item {
  color: var(--light_white);
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.info__span {
  font-size: var(--text);
}
.info__span--data, .cart__cant {
  font-size: var(--text);
  color: var(--white);
}
.info__span--val, .card__val, .reviews__span--val {
  font-size: clamp(15px, 1.7vw, 25px);
  width: clamp(30px, 3.3vw, 50px);
  height: clamp(30px, 3.3vw, 50px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background_pink);
  border-radius: 100%;
  border: 3px solid var(--background_pink);
}
.info__span--discount, .card__discount {
  background-color: var(--background_pink);
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}
.info__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.info__card {
  height: 80px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.info__card--pegi {
  height: 80px;
}

.desc {
  width: 70%;
}
.desc__title {
  color: var(--white);
  font-size: 22px;
}
.desc__text {
  color: var(--light_white);
  line-height: 30px;
}

.specs {
  height: min-content;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.specs__container {
  width: 45%;
}
.specs__list {
  font-size: var(--text);
  margin: 0;
}
.specs__title {
  color: var(--light_white);
  margin-bottom: 20px;
}
.specs__title--primary {
  width: 100%;
}
.specs__span--data {
  color: var(--white);
}

.reviews {
  height: min-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.reviews__container--val {
  width: max(60px, 13%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__container--content {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.reviews__card {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.reviews__span--val {
  width: clamp(45px, 5.3vw, 80px);
  height: clamp(45px, 5vw, 80px);
  font-size: calc(clamp(13px, 1.7vw, 25px) + 10px);
}
.reviews__content {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}
.reviews__text, .reviews__text--info, .reviews__text--date {
  line-height: 25px;
}
.reviews__text--info, .reviews__text--date {
  display: flex;
  align-items: center;
  color: var(--light_white);
  width: min-content;
  white-space: nowrap;
}
.reviews__text--date {
  margin: 0px 0px 0px 10px;
}
.reviews__info {
  height: 20%;
  width: 220px;
  min-width: min-content;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.reviews__img, .header__user--img {
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.reviews__paginator {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__loading, .store__loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  animation: ring 2s linear infinite;
  margin: 50px auto;
}
.reviews__loading::before, .store__loading::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--background_secondary);
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 2px 1px var(--background_pink);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 2px 1px var(--background_pink);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 2px 1px var(--background_pink);
  }
}
.index__gallery {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  background-color: aqua;
  position: relative;
}
.index__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: min-content;
  width: 100%;
}
.index__banner {
  width: 100%;
  height: 200px;
  background-color: aqua;
}
.index__arrow {
  background-color: var(--background_pink);
  border: 5px solid var(--background_pink);
  border-radius: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}
.index__arrow:first-of-type {
  left: 40px;
}
.index__arrow:last-of-type {
  right: 40px;
}

.form--login {
  width: 80%;
  background-color: var(--background_secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 45px;
  box-sizing: border-box;
  border-radius: 5px;
}
.form__label, .control__label {
  font-size: var(--label);
  color: var(--white);
  margin: 15px 0px 5px 0px;
}
.form__button {
  margin-top: 10px;
  text-decoration: none;
  box-sizing: border-box;
}
.form__input, .control__input, .control__input--full {
  width: 100%;
  color: var(--white);
  background-color: var(--background_body);
  border-radius: 10px;
  border: 3px solid var(--input_border);
  padding: 5px;
  box-sizing: border-box;
}
.form__error {
  width: 100%;
  font-size: var(--text);
  font-weight: 600;
  margin: 20px 0px;
  list-style: none;
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
  border-left: 7px solid var(--red);
  padding: 5px 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
.form__register {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__title {
  font-size: var(--title);
  font-weight: 600;
  color: var(--white);
  margin: 5px 0px 20px 0px;
}

.control__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  box-sizing: border-box;
  width: 250px;
  text-align: center;
}
.control__menu--mobile {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 50px;
  width: 100%;
}
.control__list {
  width: 100%;
  height: min-content;
  background-color: var(--background_primary);
  list-style: none;
  padding: 0;
}
.control__item, .control__item--selected, .control__item--logout {
  margin: 5px 0px;
  background-color: var(--background_secondary);
}
.control__item:hover, .control__item--selected:hover, .control__item--logout:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.control__item--logout {
  display: none;
}
.control__item--selected {
  background-color: var(--background_pink);
}
.control__icon {
  margin-right: 10px;
}
.control__icon--collapse, .control__icon--menu {
  transition: transform 0.25s linear, background-color 0.15s linear;
  width: 16px;
  height: 16px;
  color: var(--background_pink);
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
  display: none;
}
.control__icon--rotate {
  transform: rotate(180deg);
}
.control__icon--menu {
  height: 100%;
  width: 25px;
  color: var(--background_pink);
  margin-left: auto;
}
.control__link {
  width: min-content;
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 50px;
}
.control__img {
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}
.control__title, .order__title, .wish__title, .billing__title, .pay__title, .control__title--user, .control__title--mobile {
  height: min-content;
  width: 100%;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.control__title--mobile {
  font-size: var(--title);
  margin: 0px 0px 10px 0px;
  display: none;
}
.control__title--user {
  width: min-content;
  white-space: nowrap;
}
.control__title--userMobile {
  width: min-content;
  white-space: nowrap;
}
.control__container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
}
.control__container--pass, .control__container--column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
.control__container--full {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3137254902);
}
.control__container--half {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 48%;
}
.control__container--none {
  display: none;
}
.control__container--collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.4s linear;
  height: min-content;
  overflow: hidden;
}
.control__label {
  font-weight: 600;
  margin-top: 0px;
}
.control__label--img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: relative;
}
.control__span--img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  display: none;
}
.control__input, .control__input--full {
  height: 40px;
  width: 200px;
  margin: 15px 20px 15px 0px;
}
.control__input--full {
  width: 100%;
  margin-top: 0;
}
.control__input--num {
  -moz-appearance: textfield;
}
.control__input--num::-webkit-outer-spin-button, .control__input--num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.control__input--img {
  display: none;
}
.control__button, .order__button--external, .control__button--menu, .control__button--wish {
  width: 180px;
  height: 37px;
  margin: 0 auto;
}
.control__button--wish {
  height: min-content;
  width: min-content;
  white-space: nowrap;
  font-size: var(--text);
  margin: 0 0 5px 10px;
}
.control__card, .control__card--wish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  position: relative;
  margin: 15px 0px;
}
.control__card--wish {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 5px;
  box-sizing: border-box;
  width: 490px;
  margin: 0px;
  position: relative;
}
.control__text {
  color: var(--white);
}
.control__form {
  margin: 20px 0px 30px 0px;
}
.control__form--pass {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}
.control__form--card, .control__form--billing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
  width: 400px;
  min-height: 350px;
  position: relative;
}
.control__form--img {
  height: 100px;
  width: 100px;
  display: flex;
  overflow: hidden;
  border-radius: 100%;
}
.control__form--img:hover .control__span--img {
  display: flex;
}
.control__form--imgMobile {
  height: 100%;
  width: min-content;
  margin-right: 10px;
}
.control__platform {
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: var(--background_pink);
  border-bottom-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.content__billing, .content__pay, .content__data {
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.content__billing, .content__pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  grid-area: 1/1/2/2;
}
.content__pay {
  grid-area: 2/1/3/2;
}
.content__data {
  grid-area: 1/2/3/3;
}

.billing__card, .pay__card {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  align-self: start;
  position: relative;
}
.billing__title, .pay__title {
  font-size: var(--label);
  margin: 0 0 10px 0;
}
.billing__text, .pay__text {
  margin: 5px 0px 0px 0px;
}
.billing__container, .pay__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  gap: 10px;
  overflow-y: auto;
  padding-right: 5px;
  margin-top: 20px;
  box-sizing: border-box;
}
.pay__container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pay__card {
  width: 48%;
}
.wish__icon--x {
  top: 5px;
}
.wish__icon--cart, .wish__icon--delete {
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: var(--background_pink);
  position: absolute;
  border-radius: 5px;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
.wish__icon--delete {
  right: 50px;
  display: none;
}
.wish__img {
  height: calc(100% + 10px);
  width: auto;
  margin: -5px 0px -5px -5px;
}
.wish__title {
  font-size: var(--label);
  margin: 5px 0px 5px 10px;
  white-space: nowrap;
}
.wish__text {
  font-weight: 600;
  margin: 0px 0px 5px 10px;
}
.wish__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  margin-top: 20px;
}
.order__top {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: auto;
  justify-content: space-between;
  grid-template-areas: "orderN date pay total icon";
}
.order__title {
  font-size: var(--label);
  margin: 0;
}
.order__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  width: 100%;
  transition: max-height 0.4s ease-in;
  overflow: hidden;
}
.order__span {
  font-weight: 400;
}
.order__text, .order__text--cant {
  margin: 0;
  white-space: nowrap;
}
.order__number, .order__total, .order__text, .order__text--cant, .order__pay, .order__date {
  font-weight: 600;
  height: min-content;
  grid-area: orderN;
  white-space: nowrap;
  margin: 5px 0px;
}
.order__date {
  font-weight: 400;
  grid-area: date;
  align-self: center;
}
.order__pay {
  grid-area: pay;
}
.order__total, .order__text, .order__text--cant {
  grid-area: total;
}
.order__icon {
  color: var(--background_pink);
  font-size: var(--title25);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: icon;
  transition: all 0.4s;
  cursor: pointer;
}
.order__product {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 120px;
  min-height: 120px;
  position: relative;
  margin: 5px 0px;
}
.order__img {
  height: 100%;
}
.order__platform {
  margin: 10px 0px 0px 0px;
}
.order__platform--icon {
  margin: 10px 10px 0px 0px;
}
.order__cant--min {
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: var(--background_pink);
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.order__container {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 45% repeat(2, min-content);
  grid-template-areas: "nameG button price";
  grid-template-rows: 100%;
  justify-content: space-between;
}
.order__container--flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  grid-area: nameG;
  overflow: hidden;
}
.order__container--flex:last-of-type {
  grid-area: price;
  justify-content: space-between;
}
.order__button {
  width: 140px;
  grid-area: button;
  align-self: center;
  justify-self: start;
  margin: 0;
}
.order__button--min {
  padding: 0px 5px;
  box-sizing: border-box;
  height: min-content;
  width: min-content;
  grid-area: button;
  font-size: var(--title25);
  align-self: center;
  display: none;
}
.order__button--external {
  height: min-content;
  font-size: var(--text);
  margin: 5px auto;
  display: none;
}

.collapsed {
  max-height: 0;
}
.collapsed--unset {
  max-height: unset;
}

.menu__container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store__title {
  grid-area: titulo;
}
.store__title--list {
  width: 170px;
  font-weight: 600;
  color: var(--list);
  margin-bottom: 15px;
}
.store__title--secondary {
  display: flex;
  justify-content: space-between;
  width: 170px;
  display: none;
}
.store__icon--close {
  font-size: var(--title);
  cursor: pointer;
}
.store__select {
  justify-self: end;
}
.store__count {
  font-size: var(--text);
  width: min-content;
  white-space: nowrap;
  color: var(--light_white);
  grid-area: total;
}
.store__list {
  list-style: none;
  color: var(--white);
  padding: 0;
  margin: 20px 0px;
}
.store__item {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.store__span--light {
  color: var(--light_white);
}
.store__checkBox {
  margin-right: 10px;
}
.store__error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.store__error--text {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}
.store__error--icon {
  color: var(--background_pink);
  font-size: 80px;
}
.store__loading {
  position: absolute;
  left: calc(50% - 25px);
}
.store__filter {
  justify-self: end;
  display: none;
}

.index__card, .store__card {
  width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
  text-decoration: none;
  cursor: pointer;
}

.cart__product, .header__card {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
  text-decoration: none;
  position: relative;
}

.header__card {
  height: 70px;
  margin: 10px 0px;
}

.card__img {
  width: 100%;
  object-fit: contain;
}
.card__img--height {
  height: 100%;
}
.card__img--container {
  width: 100%;
  position: relative;
}
.card__img--span {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  background-color: var(--background_pink);
  color: var(--white);
  padding: 8px 12px;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  flex-grow: 1;
}
.card__content--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__content--long {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
}
.card__title, .card__title--search, .card__title--long {
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.card__title--long {
  margin: 0px 0px 5px 0px;
  font-size: var(--text20);
  text-align: start;
}
.card__title--search {
  text-align: start;
  margin: 0px 0px 5px 0px;
}
.card__button {
  width: unset;
  margin: 0px 15px 15px 15px;
}
.card__button:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.card__val {
  font-size: var(--text20);
  width: 42px;
  height: 42px;
}
.card__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.card__icon--selector {
  color: var(--background_pink);
  font-size: var(--text20);
  margin: 0;
  cursor: pointer;
}
.card__icon--delete, .billing__icon--delete, .pay__icon--delete, .wish__icon--x {
  width: min-content;
  color: var(--background_pink);
  font-size: var(--title25);
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
}
.card__platform--search {
  font-size: 12px;
}
.card__discount {
  position: absolute;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  left: 0;
  top: -10px;
}
.card__price {
  margin: 0;
}
.card__price--long, .card__price--search {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card__price--search {
  font-size: var(--text);
}
.card__price--discountSearch {
  font-size: var(--text);
}

.cart__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: clamp(200px, 35vw, 415px);
  min-height: 150px;
}
.cart__products {
  width: 670px;
  height: min-content;
}
.cart__title {
  width: 100%;
  color: var(--white);
  font-size: var(--title25);
  font-weight: 600;
  margin: 10px 0px;
}
.cart__title--billing, .cart__title--pay {
  color: var(--white);
  font-size: var(--text);
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}
.cart__list {
  width: 100%;
  height: 100px;
  list-style: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  font-size: var(--text20);
}
.cart__text--light {
  color: var(--light_white);
}
.cart__text--total {
  font-size: var(--title25);
  font-weight: 600;
}
.cart__text--billing, .cart__text--pay {
  font-size: 14px;
  color: var(--light_white);
  margin: 0px 0px 5px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.cart__button {
  width: 100%;
  background-color: var(--background_pink);
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.cart__img {
  height: 100%;
}
.cart__cant {
  font-size: var(--text20);
  margin: 0px 10px;
}
.cart__billing, .cart__pay {
  width: 100%;
  min-height: 80px;
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 30px calc(100% - 30px);
}
.cart__radio {
  accent-color: var(--background_pink);
  cursor: pointer;
}

@media (max-width: 1480px) {
  .header__top, .header__bottom {
    width: 1280px;
    position: relative;
  }

  .info__asset {
    height: 150px;
  }
  .info__list, .specs__list {
    margin: 30px 0px;
  }
  .info__card {
    height: 70px;
    width: 60px;
  }
  .info__card--pegi {
    height: 70px;
  }

  .gallery {
    height: 520px;
  }

  .cart__products {
    width: unset;
    flex-grow: 1;
    margin-right: 20px;
  }
}
@media (max-width: 1250px) {
  .main, .main__form, .product, .cart, .store, .control, .control--orders, .index {
    width: 100%;
  }

  .gallery {
    height: 480px;
    max-width: 700px;
  }

  .info__asset {
    height: 120px;
  }

  .desc__text {
    line-height: 25px;
  }

  .header {
    height: 140px;
  }
  .header__top, .header__bottom {
    width: 100%;
  }

  .footer__top, .footer__bottom {
    width: 100%;
  }

  .control {
    max-width: 900px;
  }
  .control__content--data {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .control__card--wish {
    width: 600px;
  }

  .order__product {
    height: 100px;
    min-height: 100px;
  }
}
@media (max-width: 992px) {
  .main, .main__form, .product, .cart, .store, .control, .control--orders, .index {
    margin-top: 150px;
  }
  .main__form {
    background-image: url("../img/loginBackground.webp");
    margin-bottom: 10px;
  }

  .header {
    background: linear-gradient(180deg, var(--background_primary) 98%, var(--background_secondary) 2%);
    position: fixed;
    z-index: 4;
  }
  .header__top {
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .header__bottom {
    height: 45%;
  }
  .header__nav {
    width: 250px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: var(--background_secondary);
    position: absolute;
    display: none;
    top: 0px;
    left: 0;
    z-index: 20;
  }
  .header__nav::before {
    content: "";
    height: calc(100vh - 80px);
    width: calc(100vw - 250px);
    position: absolute;
    top: 0;
    left: 250px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header__list {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .header__container {
    width: min-content;
  }
  .header__container--form {
    width: 60%;
    height: 45px;
    position: absolute;
    left: 20%;
    bottom: -54px;
    z-index: 4;
  }
  .header__user--img {
    margin: 0px 15px;
  }
  .header__cartCant {
    bottom: -5px;
  }
  .header__container--movile {
    display: flex;
  }
  .header__logo {
    display: none;
  }
  .header__input {
    width: 90%;
    height: 30px;
  }
  .header__icon--search {
    display: block;
  }

  .product {
    flex-direction: column;
    align-items: center;
  }

  .gallery, .info, .desc, .specs, .reviews {
    width: 90%;
  }

  .title {
    text-align: center;
  }

  .info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: unset;
    margin-top: 20px;
  }
  .info__container, .info__container--buttons {
    width: max(320px, 55%);
    margin: 10px auto;
  }
  .info__list, .specs__list, .info__cards {
    width: max(300px, 47%);
    margin: 10px auto;
  }
  .info__asset {
    display: none;
  }
  .info__price {
    margin: 0;
  }

  .specs__list {
    width: 100%;
  }

  .cart {
    flex-direction: column;
  }
  .cart__products {
    margin-right: 0;
  }
  .cart__data {
    width: 100%;
  }

  .store__container--menu {
    height: 100vh;
    transition: max-width 0.4s linear;
    max-width: 0px;
    overflow: hidden auto;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0px;
    margin: 0;
    padding: 0;
    border-radius: 0 8px 8px 0;
  }
  .store__container--content {
    width: 100%;
  }
  .store__filter {
    display: block;
  }
  .store__title--secondary {
    display: flex;
  }

  .container__form {
    width: 100%;
    min-height: calc(100vh - 320px);
  }
  .container__img {
    display: none;
  }

  .form--login {
    max-width: 600px;
  }

  .control__card--wish {
    width: 100%;
  }

  .order__top {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "orderN orderN date icon" "pay pay total icon";
  }
  .order__button, .order__platform, .order__text--cant {
    display: none;
  }
  .order__button--min {
    display: block;
  }
  .order__text, .order__text--cant {
    font-size: var(--text);
    margin: 5px 0px 0px 0px;
  }
  .order__platform--icon {
    margin: 0px 5px 0px 0px;
  }
  .order__cant--min {
    display: block;
  }
  .order__title {
    font-size: var(--text);
  }
  .order__container {
    grid-template-rows: min-content 80%;
    grid-template-columns: 90% 10%;
    grid-template-areas: "nameG button" "price button";
  }
  .order__container--flex:last-of-type {
    justify-content: start;
  }
  .order__product {
    height: 100px;
  }
}
@media (max-width: 800px) {
  .control {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }
  .control--orders {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .control__menu {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .control__button--menu {
    display: none;
  }
  .control__title--mobile {
    display: initial;
  }
  .control__title--user {
    font-size: var(--text);
    margin: 0 0 0 10px;
  }
  .control__list {
    overflow: hidden;
    padding-top: 20px;
    background: transparent;
    transition: max-height 0.4s linear;
    margin: 0;
  }
  .control__link {
    margin-left: 15px;
  }
  .control__item, .control__item--logout, .control__item--selected {
    border-radius: 8px;
  }
  .control__item--logout {
    display: initial;
  }
  .control__form--img {
    height: 100%;
    width: min-content;
  }
  .control__card--wish {
    height: 120px;
  }
  .control__container--hidden {
    height: 0px;
  }
  .control__content--wishlist, .control__content--data, .control__content--orders {
    width: 100%;
  }
  .control__icon--collapse, .control__icon--menu {
    display: flex;
    align-items: center;
  }

  .menu__container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .content__billing, .content__pay, .content__data {
    height: min-content;
    overflow: hidden;
  }

  .collapsed {
    max-height: 0px;
  }
  .collapsed--unset {
    max-height: 0px;
    padding: 0;
  }
}
@media (max-width: 750px) {
  :root {
    --text:14px;
    --text20:18px;
    --title:25px;
    --title25:20px;
    --label:16px;
  }

  .main, .main__form, .product, .cart, .store, .control, .control--orders, .index {
    margin-top: 110px;
  }

  .header {
    height: 100px;
  }
  .header__top {
    padding: 10px 10px;
  }
  .header__link, .header__link--list, .header__link--m10--list, .header__link--m10 {
    display: none;
  }
  .header__link--list, .header__link--m10--list {
    display: block;
    margin: 20px 0px;
  }
  .header__nav {
    top: 45px;
  }
  .header__container--form {
    width: calc(100% - 20px);
    left: -10px;
    height: 30px;
    bottom: -37.5px;
  }

  .footer__top {
    justify-content: space-between;
  }
  .footer__list, .footer__list--networks {
    width: min-content;
    margin: 10px;
  }
  .footer__list--networks {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer__icon {
    margin: 0px 10px;
  }

  .cart__product, .header__card {
    height: 100px;
  }

  .card__val {
    width: 32px;
    height: 32px;
  }

  .store__card {
    width: 200px;
    height: 270px;
  }
  .store__container--products {
    grid-template-columns: repeat(auto-fill, 200px);
  }

  .gallery {
    max-width: 600px;
    height: 380px;
  }
  .gallery__arrow {
    height: 35px;
    width: 35px;
  }
  .gallery__icon {
    width: 25px;
    height: 25px;
  }

  .title {
    font-size: 25px;
  }

  .specs {
    flex-direction: column;
  }
  .specs__container {
    width: max(300px, 60%);
  }

  .info__price {
    font-size: 30px;
    width: min-content;
    margin: 0;
  }
  .info__price--discount, .card__price--discount, .card__price--discountSearch {
    font-size: var(--text);
  }
  .info__button--buy, .info__button--wish {
    height: 35px;
    font-size: var(--text);
  }
  .info__card {
    height: 55px;
  }
  .info__card--pegi {
    height: 55px;
  }

  .paginator__button, .paginator__button--disabled {
    height: 30px;
    width: 30px;
  }

  .gallery, .info, .desc, .specs, .reviews {
    width: 100%;
  }

  .control__card--wish {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .gallery {
    display: none;
  }
  .gallery--mobile {
    display: flex;
  }
  .gallery__arrow {
    display: none;
  }

  .footer {
    background: none;
  }
  .footer__top {
    background-color: var(--background_secondary);
    gap: 20px;
  }
  .footer__bottom {
    background-color: var(--background_primary);
  }
  .footer__list, .footer__list--networks {
    width: min-content;
    margin: 0px;
  }
  .footer__list--networks {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer__icon {
    margin: 0px 10px;
  }

  .specs__container {
    width: 100%;
  }

  .form--login {
    width: calc(100% - 20px);
  }

  .container__form {
    width: 100%;
    min-width: unset;
  }

  .content__pay {
    padding: 0 10px 10px 10px;
  }
  .content__billing, .content__pay {
    padding: 0 10px 10px 10px;
  }
  .content__data {
    padding: 0 10px 10px 10px;
  }

  .control__container {
    width: 100%;
    flex-direction: column;
  }
  .control__title, .control__title--mobile, .control__title--user, .billing__title, .pay__title, .wish__title, .order__title {
    margin-top: 10px;
  }
  .control__title--user {
    margin-top: 0;
  }
  .control__input, .control__input--full {
    width: 100%;
    margin-right: 0;
  }
  .control__button--wish {
    display: none;
  }
  .control__card--wish {
    height: 75px;
  }

  .order__bottom {
    padding: 5px 10px;
  }
  .order__product {
    height: 60px;
    min-height: 60px;
  }
  .order__title {
    margin: 0;
  }
  .order__container {
    padding: 10px 5px;
    grid-template-columns: 100%;
    grid-template-areas: "nameG" "price";
  }
  .order__container--flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .order__container--flex:last-of-type {
    flex-direction: row;
    justify-content: space-between;
  }
  .order__button--min {
    display: none;
  }
  .order__button--external {
    display: block;
  }

  .wish__icon--x {
    display: none;
  }
  .wish__icon--delete {
    display: initial;
  }

  .store__select {
    display: none;
  }
}
@media (max-width: 445px) {
  .store__card {
    width: 250px;
    height: 337px;
  }
  .store__container--products {
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .gallery {
    height: 230px;
  }

  .footer__top {
    justify-content: center;
  }
  .footer__list, .footer__list--networks {
    width: 100%;
    text-align: center;
  }

  .header__logo--img {
    display: none;
  }
  .header__logo--imgMovile {
    display: block;
  }

  .gallery__arrow {
    height: 30px;
    width: 30px;
  }
  .gallery__icon {
    width: 20px;
    height: 20px;
  }

  .cart__product, .header__card {
    height: 80px;
    min-height: 80px;
  }
  .cart__cant {
    font-size: var(--text);
  }

  .card__title--long {
    font-size: var(--label);
  }
  .card__icon--selector {
    font-size: var(--tetx);
  }
  .card__content--long {
    padding: 5px;
  }

  .pay__container {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .pay__card {
    width: 100%;
  }
}
.header__form--visible {
  display: flex;
  width: calc(100% - 20px);
}

.displayNone {
  display: none;
}

.opacityNone {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
