:root {
  --background_primary: #21173f;
  --background_secondary:#362958;
  --background_body:#231b36;
  --input_border:#413b4e;
  --background_pink: #FF346D;
  --background_pink_dark: #e43869;
  --white: #fff;
  --light_white: #cecece;
  --black:#000;
  --green:#34aa34;
  --red: #fc4141;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background_body);
}

.header {
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, var(--background_primary) 60%, var(--background_secondary) 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.header__top, .header__bottom {
  height: 60%;
  width: 1480px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}
.header__bottom {
  height: 40%;
  background-color: var(--background_secondary);
}
.header__logo {
  height: 100%;
}
.header__logo--img {
  height: 100%;
}
.header__logo--movile {
  height: 100%;
}
.header__form {
  height: 50px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 20px;
}
.header__input {
  height: 45px;
  width: 400px;
  padding: 0px 20px;
  border: none;
  outline: none;
}
.header__search {
  width: 50px;
  height: 1.5em;
}
.header__search path, .header__search polygon, .header__search rect {
  fill: var(--black);
}
.header__search circle {
  stroke: var(--black);
  stroke-width: 1;
}
.header__user, .header__cart {
  width: min-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  position: relative;
}
.header__user:hover .header__link, .header__user:hover .header__link--list, .header__user:hover .header__link--m10--list, .header__cart:hover .header__link--m10, .header__cart:hover .header__icon, .header__cart:hover .header__icon--search, .header__cart:hover .header__icon--menu {
  color: var(--background_pink);
}
.header__user--img {
  height: clamp(25px, 4vw, 30px) !important;
}
.header__user:hover .header__link--m10, .header__cart:hover .header__link--m10 {
  color: var(--background_pink);
}
.header__user:hover .header__userIcon path {
  fill: var(--background_pink);
}
.header__userIcon {
  width: 50px;
  height: 30px;
  position: relative;
}
.header__userIcon path {
  fill: var(--white);
}
.header__cartCant {
  width: 20px;
  height: 20px;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--background_pink);
  position: absolute;
  border-radius: 100%;
  padding: 2px;
  bottom: 0px;
  left: 30px;
}
.header__login {
  color: var(--white);
  font-size: clamp(16px, 2vw, 20px);
  margin: 0px 10px;
}
.header__nav {
  width: 700px;
}
.header__nav--visible {
  display: flex !important;
  transition: opacity 0.3s;
  opacity: 1 !important;
}
.header__list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link, .header__link--list, .header__link--m10--list, .header__link--m10 {
  font-size: clamp(16px, 2vw, 20px);
  color: var(--white);
  text-decoration: none;
  white-space: nowrap;
}
.header__link:hover, .header__link--list:hover, .header__link--m10--list:hover, .header__link--m10:hover {
  color: var(--background_pink);
}
.header__link--list:hover, .header__link--m10--list:hover {
  color: var(--background_pink);
}
.header__link--m10 {
  margin-left: 10px;
}
.header__icon, .header__icon--search, .header__icon--menu {
  font-size: clamp(25px, 4vw, 30px);
  color: var(--white);
  margin: 0px 15px;
  cursor: pointer;
}
.header__icon:hover, .header__icon--search:hover, .header__icon--menu:hover {
  color: var(--background_pink);
}
.header__icon--menu {
  font-size: clamp(30px, 4vw, 40px);
  margin: 0px;
}
.header__icon--search {
  display: none;
}
.header__container--movile {
  height: 100%;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.header--min {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background_primary);
  padding: 10px 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: min-content;
}
.container__form, .container__img {
  width: 38%;
  min-height: calc(100vh - 120px);
}
.container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  box-sizing: border-box;
}
.container__img {
  width: 62%;
  background-image: url("../img/loginBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container__img::after {
  content: "";
  height: 100%;
  width: 15%;
  background-color: var(--background_body);
  position: absolute;
  left: -2px;
  top: 0;
  webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.container__index {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0px;
}

.main, .cart, .index, .control {
  width: 1280px;
  height: min-content;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0px;
}
.main__form {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
}

.header__container {
  width: 450px;
  display: flex;
  justify-content: space-around;
}

.gallery {
  height: 620px;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.index__gallery {
  height: 620px;
  width: 100%;
  background-color: red;
}
.index__container {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index__banner {
  height: 200px;
  background-color: aqua;
}

.cart {
  min-height: calc(100vh - 400px);
}

.footer {
  width: 100%;
  height: 230px;
  background: linear-gradient(180deg, var(--background_secondary) 80%, var(--background_primary) 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__top {
  width: 960px;
  height: 80%;
  display: flex;
  justify-content: left;
  align-content: center;
  padding: 10px 0px;
  box-sizing: border-box;
}
.footer__bottom {
  width: 960px;
  height: 20%;
  padding: 10px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__list, .footer__list--networks {
  height: min-content;
  list-style: none;
  color: var(--white);
  margin: 15px 15px;
}
.footer__list--networks {
  margin-left: auto;
}
.footer__item, .footer__item--networks {
  margin-bottom: 10px;
}
.footer__item--title, .footer__item--networks--title {
  font-size: clamp(14px, 1.2vw, 18px);
  margin-bottom: 20px;
}
.footer__item--networks {
  display: flex;
  justify-content: space-around;
}
.footer__link, .footer__copy {
  font-size: clamp(12px, 1.4vw, 16px);
  color: var(--white);
  text-decoration: none;
}
.footer__link:hover {
  color: var(--background_pink);
}
.footer__logo {
  width: 350px;
  align-self: center;
}
.footer__icon {
  width: 40px;
  height: 50px;
}
.footer__icon path {
  fill: var(--white);
}
.footer__icon circle {
  stroke: var(--white);
  stroke-width: 1;
}

.gallery__img {
  height: 80%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.gallery__asset {
  height: 100%;
}
.gallery__container {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery__arrow {
  transition: all 0.25s;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 5px solid var(--background_pink);
  background-color: var(--background_pink);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.gallery__arrow:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.gallery__icon {
  width: 35px;
  height: 35px;
}
.gallery__icon path {
  fill: var(--white);
}
.gallery__min, .gallery__min--selected {
  width: min-content;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.gallery__min--selected {
  border: 2px solid var(--background_pink);
}

.title, .info__title {
  width: 100%;
  font-size: clamp(16px, 3vw, 35px);
  color: var(--white);
}

.info {
  height: min-content;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background_secondary);
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.info__title {
  font-size: 20px;
  text-align: center;
}
.info__price, .info__price--discount, .cart__price--discount {
  color: var(--white);
  font-size: clamp(20px, 2vw, 40px);
  font-weight: 400;
  margin: 15px;
  flex-grow: 1;
  text-align: center;
}
.info__price--discount, .cart__price--discount {
  color: var(--light_white);
  font-size: 1.2rem;
  margin-left: 0;
  position: relative;
}
.info__price--discount::after, .cart__price--discount::after {
  content: "";
  width: 100%;
  border: 1px solid var(--background_pink);
  background-color: var(--background_pink);
  transform: rotate(180deg);
  position: absolute;
  bottom: 10px;
  left: 0px;
}
.info__asset {
  width: calc(100% + 40px);
  margin: -20px -20px 0px -20px;
  object-fit: cover;
}
.info__button, .control__link, .control__button, .form__button, .card__button, .info__button--wish, .info__button--buy {
  transition: all 0.25s;
  height: 40px;
  width: 100%;
  font-size: clamp(14px, 1.2vw, 18px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background_pink);
  color: var(--white);
  border: none;
  border-radius: 5px;
  border: 5px solid var(--background_pink);
  box-sizing: border-box;
  cursor: pointer;
}
.info__button--buy {
  width: 80%;
}
.info__button--buy:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.info__button--wish {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__button--wish:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.info__icon, .info__icon--stock {
  width: min-content;
  height: min-content;
  font-size: clamp(30px, 3vw, 50px);
  color: var(--background_pink);
}
.info__icon--data, .cart__icon--selector, .cart__icon {
  margin-right: 5px;
}
.info__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__list, .specs__list {
  width: 100%;
  list-style: none;
  margin: 45px 0px;
  padding: 0;
}
.info__item, .specs__item {
  color: var(--light_white);
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.info__span {
  font-size: clamp(12px, 1.4vw, 16px);
}
.info__span--data, .cart__cant, .cart__platform {
  font-size: clamp(12px, 1.4vw, 16px);
  color: var(--white);
}
.info__span--val, .card__val, .reviews__span--val {
  font-size: clamp(15px, 1.7vw, 25px);
  width: clamp(30px, 3.3vw, 50px);
  height: clamp(30px, 3.3vw, 50px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background_pink);
  border-radius: 100%;
  border: 3px solid var(--background_pink);
}
.info__span--discount, .cart__discount {
  color: var(--white);
  font-size: clamp(12px, 1.4vw, 16px);
  background-color: var(--background_pink);
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}
.info__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.info__card {
  height: 80px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.info__card--pegi {
  height: 80px;
}

.desc {
  width: 70%;
}
.desc__title, .desc__title--primary, .reviews__title, .specs__title--primary {
  color: var(--white);
  font-size: 22px;
}
.desc__title--primary, .reviews__title, .specs__title--primary {
  font-size: clamp(16px, 3vw, 35px);
}
.desc__text {
  color: var(--light_white);
  font-size: clamp(12px, 1.4vw, 16px);
  line-height: 30px;
}

.specs {
  height: min-content;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.specs__container {
  width: 45%;
}
.specs__list {
  font-size: clamp(11px, 1.1vw, 16px);
  margin: 0;
}
.specs__title {
  color: var(--light_white);
  margin-bottom: 20px;
}
.specs__title--primary {
  width: 100%;
}
.specs__span--data {
  color: var(--white);
}

.reviews {
  height: min-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.reviews__container--val {
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__container--content {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.reviews__card {
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--background_secondary);
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.reviews__span--val {
  width: clamp(50px, 5.3vw, 80px);
  height: clamp(50px, 5vw, 80px);
  font-size: calc(clamp(15px, 1.7vw, 25px) + 10px);
}
.reviews__content {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}
.reviews__text, .reviews__text--info, .reviews__text--date {
  font-size: clamp(12px, 1.15vw, 16px);
  color: var(--white);
  line-height: 25px;
}
.reviews__text--info, .reviews__text--date {
  color: var(--light_white);
  display: flex;
  align-items: center;
  width: min-content;
  white-space: nowrap;
  margin: 0px 50px 0px 10px;
}
.reviews__text--date {
  margin: 0px 0px 0px 10px;
}
.reviews__info {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.reviews__img, .header__user--img {
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.reviews__paginator {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__page {
  font-size: clamp(14px, 1.2vw, 18px);
  font-weight: 600;
  color: var(--white);
  margin: 0px 10px;
}
.reviews__button, .reviews__button--disabled {
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: var(--white);
  background-color: var(--background_pink);
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.reviews__button--disabled {
  filter: contrast(50%);
  cursor: default;
}
.reviews__loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  animation: ring 2s linear infinite;
  margin: 50px auto;
}
.reviews__loading::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--background_secondary);
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 2px 1px var(--background_pink);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 2px 1px var(--background_pink);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 2px 1px var(--background_pink);
  }
}
.index__card {
  width: 320px;
  height: 380px;
  background-color: #362958;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 0px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.card__img {
  width: 100%;
  object-fit: contain;
}
.card__img--container {
  height: 45%;
  width: 100%;
  position: relative;
}
.card__img--span {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  background-color: var(--background_pink);
  color: var(--white);
  padding: 8px 12px;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 15px;
  flex-grow: 1;
}
.card__content--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title, .cart__title--game {
  color: var(--white);
  text-align: center;
  margin-top: 10px;
}
.card__price {
  font-size: 30px;
  font-weight: 500;
  color: var(--white);
  margin: 0;
}
.card__val {
  font-size: clamp(15px, 1.7vw, 20px);
  width: clamp(30px, 3.3vw, 42px);
  height: clamp(30px, 3.3vw, 42px);
}

.form--login {
  width: 80%;
  background-color: var(--background_secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 45px;
  box-sizing: border-box;
  border-radius: 5px;
}
.form__label, .control__label {
  font-size: clamp(14px, 1.2vw, 18px);
  color: var(--white);
  margin: 15px 0px 5px 0px;
}
.form__button {
  margin-top: 10px;
  text-decoration: none;
  box-sizing: border-box;
}
.form__input, .control__input {
  width: 100%;
  color: var(--white);
  background-color: var(--background_body);
  border-radius: 10px;
  border: 3px solid var(--input_border);
  padding: 5px;
  box-sizing: border-box;
}
.form__error {
  width: 100%;
  font-weight: 600;
  margin: 20px 0px;
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
  border-left: 7px solid var(--red);
  padding: 5px 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
.form__register {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__title {
  font-size: clamp(16px, 3vw, 35px);
  font-weight: 600;
  color: var(--white);
  margin: 5px 0px 20px 0px;
}

.control__menu {
  width: 25%;
  height: min-content;
  background-color: var(--background_secondary);
  text-align: center;
  padding: 20px 0px;
  border-radius: 5px;
}
.control__content {
  width: 70%;
  min-height: 500px;
  background-color: var(--background_secondary);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
.control__list {
  list-style: none;
  padding: 10px 20px 0px 20px;
}
.control__link, .control__button {
  margin: 15px 0px;
  text-decoration: none;
}
.control__link:hover, .control__button:hover {
  transition: all 0.25s;
  background-color: var(--background_pink_dark);
}
.control__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.control__img--card {
  height: calc(100% + 40px);
  width: auto;
  margin: -5px 0px -5px -20px;
}
.control__title, .control__title--card {
  color: var(--white);
  margin: 10px 0px 30px 0px;
}
.control__title--card {
  font-size: clamp(16px, 2vw, 20px);
  white-space: nowrap;
}
.control__container {
  width: 80%;
  display: flex;
  align-items: end;
  justify-content: start;
}
.control__container--column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control__container--card {
  width: min-content;
  height: 100%;
  margin-left: 20px;
}
.control__label {
  font-weight: 600;
}
.control__input {
  width: 200px;
  margin: 15px 20px 15px 0px;
}
.control__button {
  width: 150px;
}
.control__card, .control__card--wish {
  height: 120px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background_primary);
  border-radius: 10px;
  padding: 15px 20px;
  margin: 15px 0px;
  box-sizing: border-box;
  overflow: hidden;
}
.control__card--wish {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 5px 20px;
}
.control__text {
  color: var(--white);
}
.control__x {
  font-size: 35px;
  color: var(--red);
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

.cart__data {
  width: clamp(200px, 35vw, 415px);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background_secondary);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}
.cart__products {
  width: 670px;
  height: min-content;
}
.cart__title {
  width: 100%;
  color: var(--white);
  font-size: clamp(16px, 2.8vw, 25px);
  font-weight: 600;
  margin: 10px 0px;
}
.cart__title--game {
  margin: 0px;
  font-size: clamp(16px, 2vw, 20px);
  text-align: start;
  font-weight: 500;
}
.cart__list {
  width: 100%;
  height: 35%;
  list-style: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  font-size: clamp(16px, 2vw, 20px);
}
.cart__text--light {
  color: var(--light_white);
}
.cart__text--total {
  font-size: clamp(16px, 2.8vw, 25px);
  font-weight: 600;
}
.cart__button {
  width: 100%;
  font-size: clamp(16px, 2vw, 20px);
  background-color: var(--background_pink);
  color: var(--white);
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.cart__product {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: start;
  background-color: var(--background_secondary);
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.cart__img {
  height: 100%;
}
.cart__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.cart__icon--selector {
  color: var(--background_pink);
  font-size: clamp(16px, 2vw, 20px);
  margin: 0;
  cursor: pointer;
}
.cart__icon--delete {
  width: min-content;
  color: var(--background_pink);
  font-size: clamp(16px, 2.8vw, 25px);
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
}
.cart__cant {
  font-size: clamp(16px, 2vw, 20px);
  margin: 0px 10px;
}
.cart__price {
  color: var(--white);
  font-size: clamp(16px, 2vw, 20px);
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.cart__discount {
  position: absolute;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  left: 0;
  top: -10px;
}

@media (max-width: 1480px) {
  .main, .control, .index, .cart {
    width: 1100px;
  }

  .header__top, .header__bottom {
    width: 1280px;
    position: relative;
  }
  .header__input {
    width: 350px;
  }

  .info__asset {
    height: 150px;
  }
  .info__list, .specs__list {
    margin: 30px 0px;
  }
  .info__card {
    height: 70px;
    width: 60px;
  }
  .info__card--pegi {
    height: 70px;
  }

  .gallery {
    height: 520px;
  }

  .cart__products {
    width: unset;
    flex-grow: 1;
    margin-right: 20px;
  }
}
@media (max-width: 1250px) {
  .main, .control, .index, .cart {
    width: 100%;
  }

  .gallery {
    height: 480px;
  }

  .info__asset {
    height: 120px;
  }

  .desc__text {
    line-height: 25px;
  }

  .header {
    height: 140px;
  }
  .header__top {
    width: 100%;
  }
  .header__bottom {
    width: 100%;
  }

  .footer__top, .footer__bottom {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main, .control, .index, .cart {
    margin-top: 110px;
  }

  .header {
    height: 80px;
    background: linear-gradient(180deg, var(--background_primary) 98%, var(--background_secondary) 2%);
    position: fixed;
    z-index: 4;
  }
  .header__top {
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .header__bottom {
    height: 2%;
  }
  .header__nav {
    width: 250px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: var(--background_secondary);
    position: absolute;
    display: none;
    top: 0px;
    left: 0;
  }
  .header__nav::before {
    content: "";
    height: calc(100vh - 80px);
    width: calc(100vw - 250px);
    position: absolute;
    top: 0;
    left: 250px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header__list {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .header__container {
    width: min-content;
  }
  .header__user--img {
    margin: 0px 15px;
  }
  .header__link, .header__link--list, .header__link--m10--list, .header__link--m10 {
    display: none;
  }
  .header__link--list, .header__link--m10--list {
    display: block;
    margin: 20px 0px;
  }
  .header__cartCant {
    bottom: -10px;
  }
  .header__container--movile {
    display: flex;
  }
  .header__logo {
    display: none;
  }
}
@media (max-width: 600px) {
  .main, .control, .index, .cart {
    margin-top: 110px;
  }

  .header {
    height: 60px;
  }
  .header__form {
    width: 100%;
    display: none;
    position: absolute;
    left: -10px;
    z-index: 4;
  }
  .header__input {
    width: calc(100% - 50px);
  }
  .header__icon--search {
    display: block;
  }
}
.header__form--visible {
  display: flex;
  width: calc(100% - 20px);
}

.displayNone {
  display: none;
}

.opacityNone {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
