@use '../mixins' as mixin;
@use '../var';

.control
{
    @extend .main;
    min-height: 600px;

    &__content
    {
        width: calc(100% - 270px);

        &--data
        {
            @extend .control__content;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px 10px;
            height: min-content
        }

        &--wishlist
        {
            @extend .control__content;
            @include mixin.flex-style($direction:column);
            width: calc(100% - 260px);
        }

        &--orders
        {
            @extend .control__content;
            @include mixin.flex-style($direction:column);
        }

        &--reviews
        {
            @extend .control__content;
        }
    }

    &__wish
    {
        @include mixin.flex-style($justify:space-between, $wrap:wrap);
        width: 100%;
        gap: 20px;
        margin: 20px 0px;
    }

    &__order
    {
        @include mixin.flex-style($direction:column);
        width: 100%;
        gap: 20px;
    }

    &__reviews
    {
        @extend .control__wish;
    }

    &--orders
    {
        @extend .main;
    }

    &__menu
    {
        @extend .card__class;
        @include mixin.flex-style($direction:column,$align:center);
        @include mixin.padding(20px 0px);
        width: 250px;
        text-align: center;

        &--mobile
        {
            @extend .card__class;
            @include mixin.padding(10px);
            @include mixin.flex-style($justify:start ,$align:center);
            min-height: 50px;
            width: 100%; 
        }
    }

    &__list
    {
        width: 100%;
        height: min-content;
        background-color: var(--background_primary);
        list-style: none;
        padding: 0;
    }

    &__item
    {
        margin: 5px 0px;
        background-color: var(--background_secondary);

        &:hover
        {
            @include mixin.button-hover;
        }

        &--logout
        {
            @extend .control__item;
            display: none;
        }

        &--selected
        {
            @extend .control__item;
            background-color: var(--background_pink);
        }
    }

    &__icon
    {
        margin-right: 10px;

        &--img
        {
            @extend .title__class;
        }

        &--platform
        {
            @extend .text__class;
        }

        &--collapse
        {
            @extend .title25__class;
            transition: transform 0.25s linear, background-color 0.15s linear;
            width: 16px;
            height: 16px;
            color: var(--background_pink);
            border-radius: 100%;
            padding: 5px;
            cursor: pointer;
            display: none;
        }

        &--rotate
        {
            transform: rotate(180deg)
        }

        &--menu
        {
            @extend .control__icon--collapse;
            height: 100%;
            width: 25px;
            color: var(--background_pink);
            margin-left: auto;
        }
    }

    &__link
    {
        @extend .info__button;
        width: min-content;
        background-color: transparent;
        border: none;
        border-radius: 0;
        text-decoration: none;
        white-space: nowrap;
        margin-left: 50px;
        
    }

    &__img
    {
        height: 100%;
        border-radius: 100%;
        cursor: pointer;
    }

    &__title
    {
        @extend .title25__class;
        width: 100%;
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: space-between;

        &--mobile
        {
            @extend .control__title;
            font-size: var(--title);
            margin: 0px 0px 10px 0px;
            display: none;
        }

        &--user
        {
            @extend .control__title;
            width: min-content;
            white-space: nowrap;
        }

        &--userMobile
        {
            @extend .text__class;
            width: min-content;
            white-space: nowrap;
        }

        &--primary
        {
            @extend .title__class;
        }

        &--form
        {
            @extend .title25__class;
        }
    }

    &__container
    {
        @include mixin.flex-style($justify:start, $align:center);
        width: 80%;

        &--pass
        {
            @include mixin.flex-style($justify:start, $direction:column);
            width: 100%;  
        }

        &--column
        {
            @extend .control__container--pass;
        }

        &--full
        {
            @include mixin.flex-style($justify:center, $align:center);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00000050;
        }

        &--half
        {
            @include mixin.flex-style($justify:start, $direction:column);
            width: 48%;    
        }

        &--none
        {
            display: none
        }

        &--collapse
        {
            @include mixin.flex-style($direction:column);
            width: 100%;
            transition: all 0.4s linear;
            height: min-content;
            overflow:hidden;
        }
    }

    &__label
    {
        @extend .form__label;
        font-weight: 600;
        margin-top:0px;

        &--img
        {
            height: 100%;
            width: 100%;
            border-radius: 100%;
            position: relative;
        }
    }

    &__span
    {
        &--img
        {
            @include mixin.flex-style($justify:center, $align:center);
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            top: 0;
            left: 0;
            position: absolute;
            cursor: pointer;
            display: none
        }
    }

    &__input
    {
        @extend .form__input;
        height: 40px;
        width: 200px;
        margin: 15px 20px 15px 0px;

        &--full
        {
            @extend .control__input;
            width: 100%;
            margin-top: 0;
        }

        &--num
        {
            -moz-appearance: textfield;
            
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
            {
                -webkit-appearance: none;
                margin: 0; 
            }
        }

        &--img
        {
            display: none
        }
    }

    &__button
    {
        @extend .button--full;
        width: 180px;
        height: 37px;
        margin: 0 auto;

        &:hover
        {
            @include mixin.button-hover;
        }

        &--wish
        {
            @extend .control__button;
            height: min-content;
            width: min-content;
            white-space: nowrap;
            font-size: var(--text);
            margin: 0 0 5px 10px;

            &:hover
            {
                @include mixin.button-hover;
            }
        }

        &--menu
        {
            @extend .control__button;
        }
    }

    &__card
    {
        @extend .card__class;
        @include mixin.flex-style($direction:column,$justify:space-between);
        @include mixin.padding(15px 20px);
        height: 120px;
        width: 100%;
        position: relative; 
        margin: 15px 0px;

        &--wish
        {
            @extend .control__card;
            @include mixin.flex-style($direction:row,$justify:start);
            @include mixin.padding(5px);
            width: 490px;
            margin: 0px;
            position: relative;
        }
    }

    &__text
    {
        color: var(--white);
    }

    &__form
    {
        margin: 20px 0px 30px 0px ;
        
        &--pass
        {
            @include mixin.flex-style($direction:column,$justify:start);
            position: relative;
        }

        &--card
        {
            @extend .card__class;
            @include mixin.flex-style($justify:space-between, $wrap:wrap);
            @include mixin.padding(0px 10px 10px 10px);
            width: 400px;
            min-height: 350px;
            position: relative;
        }

        &--billing
        {
            @extend .control__form--card
        }

        &--img
        {
            height: 100px;
            width: 100px;
            display: flex;
            overflow: hidden;
            border-radius: 100%;

            &:hover .control__span--img
            {
                display: flex;
            }
        }

        &--imgMobile
        {
            height: 100%;
            width: min-content;
            margin-right: 10px;
        }
    }

    &__platform
    {
        @include mixin.padding(5px 20px);
        background-color: var(--background_pink);
        border-bottom-right-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.content
{
    &__billing, &__pay, &__data
    {
        @extend .card__class;
        @include mixin.padding(0px 20px 20px 20px);
        width: 100%;
        height: 100%;
    }

    &__billing
    {
        @include mixin.flex-style($direction:column, $align:center, $justify:start);
        grid-area: 1 / 1 / 2 / 2;
        
    }

    &__pay
    {
        @extend .content__billing;
        grid-area: 2 / 1 / 3 / 2;
    }

    &__data
    {
        grid-area: 1 / 2 / 3 / 3;
    }
}

.billing
{
    &__card
    {
        @extend .card__class--primary;
        @include mixin.padding(10px);
        @include mixin.flex-style($direction:column, $align:start, $justify:space-between);  
        width: 100%;
        align-self: start;
        position: relative
    }

    &__title
    {
        @extend .control__title;
        font-size: var(--label);
        margin: 0 0 10px 0;
    }

    &__text
    {
        @extend .text14__class;
        margin: 5px 0px 0px 0px;
    }

    &__container
    {
        @include mixin.flex-style($direction:column, $align:start);  
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        gap: 10px;
        overflow-y:auto;
        padding-right: 5px;
        margin-top: 20px;
        box-sizing: border-box;

    }

    &__icon
    {
        &--delete
        {
            @extend .card__icon--delete;
        }

    }
}

.pay
{
    &__container
    {
        @extend .billing__container;
        @include mixin.flex-style($direction:row, $align:start, $justify:space-between, $wrap:wrap); 
    }

    &__title
    {
        @extend .billing__title;
    }

    &__text
    {
        @extend .billing__text;
    }

    &__card
    {
        @extend .billing__card;
        width: 48%;
    }

    &__icon
    {
        &--delete
        {
            @extend .card__icon--delete;
        }
    }
}

.wish
{
    &__icon
    {
        &--x
        {
            @extend .card__icon--delete;
            top: 5px;
        }

        &--cart
        {
            @extend .text18__class;
            @include mixin.padding(5px 10px);
            background-color: var(--background_pink);
            position: absolute;
            border-radius: 5px;
            bottom: 5px;
            right: 5px;
            cursor: pointer;
        }

        &--delete
        {
            @extend .wish__icon--cart;
            right: 50px;
            display: none;
        }
    }

    &__img
    {
        height: calc(100% + 10px);
        width: auto;
        margin: -5px 0px -5px -5px;
    }

    &__title
    {
        @extend .control__title;
        font-size: var(--label);
        margin: 5px 0px 5px 10px;
        white-space: nowrap;
    }

    &__text
    {
        @extend .text__class;
        font-weight: 600;
        margin: 0px 0px 5px 10px;
    }

    &__container
    {
        @include mixin.flex-style($justify:space-between, $direction:column);
        width: 100%;
    }
}

.order
{
    @include mixin.flex-style($direction:column);
    width: 100%;
    height: min-content;
    margin-top: 20px;

    &__top
    {
        @extend .card__class;
        @include mixin.padding(10px);
        width: 100%;
        min-height: 50px;
        display: grid;
        grid-template-columns: repeat(5, min-content);
        grid-template-rows: auto;
        justify-content: space-between;
        grid-template-areas: 'orderN date pay total icon'
    }

    &__title
    {
        @extend .control__title;
        font-size: var(--label);
        margin: 0;
    }

    &__bottom
    {
        @include mixin.flex-style($direction:column, $align:center);
        @include mixin.padding(5px 20px);
        width: 100%;
        transition: max-height 0.4s ease-in;
        overflow: hidden;
    }

    &__span
    {
        @extend .text__class;
        font-weight: 400;
    }

    &__text
    {
        @extend .order__total;
        margin: 0;
        white-space: nowrap;

        &--cant
        {
            @extend .order__text;
        }
    }

    &__number
    {
        @extend .text__class;
        font-weight: 600;
        height: min-content;
        grid-area: orderN;
        white-space: nowrap;
        margin: 5px 0px;
    }

    &__date
    {   
        @extend .order__number;
        font-weight: 400;
        grid-area: date;
        align-self: center;
    }

    &__pay
    {
        @extend .order__number;
        grid-area: pay;
    }

    &__total
    {
        @extend .order__number;
        grid-area: total;
    }

    &__icon
    {
        @include mixin.text-style(var(--background_pink), var(--title25), 600);
        @include mixin.flex-style($align:center, $justify:center);
        grid-area: icon;
        transition: all 0.4s;
        cursor: pointer;
    }

    &__product
    {
        @extend .card__class;
        @include mixin.flex-style($align:center, $justify:start);
        width: 100%;
        height: 120px;
        min-height: 120px;
        position: relative;
        margin: 5px 0px;
    }

    &__img
    {
        height: 100%;
    }

    &__platform
    {
        @extend .text__class;
        margin: 10px 0px 0px 0px;
        
        &--icon
        {
            margin: 10px 10px 0px 0px;
        }
    }

    &__cant
    {
        &--min
        {
            @extend .text14__class;
            @include mixin.padding(5px 10px);
            background-color: var(--background_pink);
            border-bottom-right-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
    }

    &__container
    {
        @include mixin.padding(10px);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 45% repeat(2, min-content);
        grid-template-areas: 'nameG button price';
        grid-template-rows: 100%;
        justify-content: space-between;

        &--flex
        {
            @include mixin.flex-style($direction:column, $justify:start);
            width: 100%;
            grid-area: nameG;
            overflow: hidden;

            &:last-of-type
            {
                grid-area: price;
                justify-content: space-between
            }
        }
    }

    &__button
    {
        @extend .button--full;
        width: 140px;
        grid-area: button;
        align-self: center;
        justify-self: start;
        margin: 0;

        &:hover
        {
            @include mixin.button-hover;
        }

        &--min
        {
            @extend .button--full;
            @include mixin.padding(0px 5px);
            height: min-content;
            width: min-content;
            grid-area: button;
            font-size: var(--title25);
            align-self: center;
            display: none;

            &:hover
            {
                @include mixin.button-hover;
            }
        }

        &--external
        {
            @extend .control__button;
            height: min-content;
            font-size: var(--text);
            margin: 5px auto;
            display: none;

            &:hover
            {
                @include mixin.button-hover;
            }
        }
    }
}

.reviews
{
    &--user
    {
        @extend .card__class;
        @include mixin.flex-style($direction:column);
        width: 460px;
        min-height: 250px;
        position: relative;
    }

    &__header
    {
        @include mixin.flex-style($align:center, $justify:start);
        width: 100%;
        height: 80px;
        gap: 10px;
        background-color: var(--background_primary)
    }

    &__img
    {
        &--game
        {
            height: 100%
        }
    }

    &__game
    {
        @extend .text18__class;
        font-weight: 600;
        display: inline;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__cal
    {
        &--user
        {
            @extend .text18__class;
            color: var(--background_pink);
            margin: 0 10px 0 auto;
            border: 2px solid var(--background_pink);
            border-radius: 100%;
            padding: 10px;

            &Min
            {
                @extend .reviews__cal--user;
                margin: 10px auto 0px auto;
                display: none
            }
        }
    }

    &__container
    {
        &--text
        {
            @include mixin.padding(0 10px);
        }
    }
}

.paginator
{
    &__button
    {
        &--wish, &--orders
        {
            @extend .paginator__button;
        }
    }
}

.collapsed
{
    max-height: 0;

    &--unset
    {
        max-height: unset;
    }
}


.menu
{
    &__container
    {
        width: 100%;
        height: min-content;
        @include mixin.flex-style($direction:column, $align:center);
    }
}

  