@use '../mixins' as mixin;
@use '../var';

.control
{
    &__menu
    {
        width: 250px;
        height: min-content;
        @include mixin.flex-style($direction:column,$align:center);
        background-color: var(--background_secondary);
        text-align: center;
        @include mixin.padding(20px 0px);
        border-radius: 5px;

        &--mobile
        {
            min-height: 50px;
            width: 100%;
            background-color: var(--background_secondary);
            border-radius: 8px;
            @include mixin.padding(10px);
            @include mixin.flex-style($justify:start ,$align:center);
        }
    }

    &__list
    {
        width: 100%;
        height: min-content;
        background-color: var(--background_primary);
        list-style: none;
        padding: 0;
    }

    &__item
    {
        margin: 5px 0px;
        background-color: var(--background_secondary);

        &:hover
        {
            @include mixin.button-hover;
        }

        &--logout
        {
            @extend .control__item;
            display: none;
        }

        &--selected
        {
            @extend .control__item;
            background-color: var(--background_pink);
        }
    }

    &__icon
    {
        margin-right: 10px;

        &--img
        {
            font-size: var(--title);
            color: var(--white);
        }

        &--platform
        {
            font-size: var(--text);
            color: var(--white);
        }

        &--collapse
        {
            transition: transform 0.25s linear, background-color 0.15s linear;
            width: 16px;
            height: 16px;
            font-size: var(--title25);
            font-weight: 600;
            color: var(--background_pink);
            border-radius: 100%;
            padding: 5px;
            cursor: pointer;
            display: none;
        }

        &--rotate
        {
            transform: rotate(180deg)
        }

        &--menu
        {
            @extend .control__icon--collapse;
            height: 100%;
            width: 25px;
            color: var(--background_pink);
            margin-left: auto;
        }
    }

    &__link
    {
        @extend .info__button;
        width: min-content;
        background-color: transparent;
        border: none;
        border-radius: 0;
        text-decoration: none;
        white-space: nowrap;
        margin-left: 50px;
        
    }

    &__img
    {
        height: 100%;
        border-radius: 100%;
        cursor: pointer;
    }

    &__title
    {
        height: min-content;
        font-size: var(--title25);
        color: var(--white);
        width: 100%;
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: space-between;

        &--mobile
        {
            @extend .control__title;
            font-size: var(--title);
            margin: 0px 0px 10px 0px;
            display: none;
        }

        &--user
        {
            @extend .control__title;
            width: min-content;
            white-space: nowrap;
        }

        &--userMobile
        {
            width: min-content;
            white-space: nowrap;
            font-size: var(--text);
            color: var(--white);
        }

        &--primary
        {
            @extend .control__title;
            font-size: var(--title);
        }
    }

    &__container
    {
        width: 80%;
        @include mixin.flex-style($justify:start, $align:center);

        &--pass
        {
            width: 100%;
            @include mixin.flex-style($justify:start, $direction:column);
        }

        &--column
        {
            width: 100%;
            @include mixin.flex-style($justify:start, $direction:column);
        }

        &--full
        {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00000050;
            @include mixin.flex-style($justify:center, $align:center);
        }

        &--half
        {
            width: 48%;
            @include mixin.flex-style($justify:start, $direction:column);
        }

        &--none
        {
            display: none
        }

        &--collapse
        {
            width: 100%;
            transition: all 0.4s linear;
            height: min-content;
            @include mixin.flex-style($direction:column);
            overflow:hidden;
        }
    }

    &__label
    {
        @extend .form__label;
        font-weight: 600;
        margin-top:0px;

        &--img
        {
            height: 100%;
            width: 100%;
            border-radius: 100%;
            position: relative;
        }
    }

    &__span
    {
        &--img
        {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            top: 0;
            left: 0;
            position: absolute;
            cursor: pointer;
            @include mixin.flex-style($justify:center, $align:center);
            display: none
        }
    }

    &__input
    {
        @extend .form__input;
        height: 40px;
        width: 200px;
        margin: 15px 20px 15px 0px;

        &--full
        {
            @extend .control__input;
            width: 100%;
            margin-top: 0;
        }

        &--num
        {
            -moz-appearance: textfield;
            
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
            {
                -webkit-appearance: none;
                margin: 0; 
            }
        }

        &--img
        {
            display: none
        }
    }

    &__button
    {
        @extend .button--full;
        width: 180px;
        height: 37px;
        margin: 0 auto;

        &--wish
        {
            @extend .control__button;
            height: min-content;
            width: min-content;
            white-space: nowrap;
            font-size: var(--text);
            margin: 0 0 5px 10px;
        }

        &--menu
        {
            @extend .control__button;
        }
    }

    &__card
    {
        @extend .card__class;
        height: 120px;
        width: 100%;
        position: relative;
        @include mixin.flex-style($direction:column,$justify:space-between);
        @include mixin.padding(15px 20px);
        margin: 15px 0px;

        &--wish
        {
            @extend .control__card;
            width: 490px;
            @include mixin.flex-style($direction:row,$justify:start);
            @include mixin.padding(5px);
            margin: 0px;
            position: relative;
        }
    }

    &__text
    {
        color: var(--white);
    }

    &__form
    {
        margin: 20px 0px 30px 0px ;
        
        &--pass
        {
            @include mixin.flex-style($direction:column,$justify:start);
            position: relative;
        }

        &--card
        {
            @extend .card__class;
            width: 400px;
            min-height: 350px;
            @include mixin.flex-style($justify:space-between, $wrap:wrap);
            @include mixin.padding(0px 10px 10px 10px);
            position: relative;
        }

        &--billing
        {
            @extend .control__form--card
        }

        &--img
        {
            height: 100px;
            width: 100px;
            display: flex;
            overflow: hidden;
            border-radius: 100%;

            &:hover .control__span--img
            {
                display: flex;
            }
        }

        &--imgMobile
        {
            height: 100%;
            width: min-content;
            margin-right: 10px;
        }
    }

    &__platform
    {
        background-color: var(--background_pink);
        @include mixin.padding(5px 20px);
        border-bottom-right-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.content
{
    &__billing, &__pay, &__data
    {
        @extend .card__class;
        width: 100%;
        height: 100%;
        @include mixin.padding(0px 20px 20px 20px);
    }

    &__billing
    {
        grid-area: 1 / 1 / 2 / 2;
        @include mixin.flex-style($direction:column, $align:center, $justify:start);
    }

    &__pay
    {
        grid-area: 2 / 1 / 3 / 2;
        @include mixin.flex-style($direction:column, $align:center, $justify:start);
    }

    &__data
    {
        grid-area: 1 / 2 / 3 / 3;
    }
}

.billing
{
    &__card
    {
        @extend .card__class--primary;
        width: 100%;
        @include mixin.padding(10px);
        @include mixin.flex-style($direction:column, $align:start, $justify:space-between);  
        align-self: start;
        position: relative
    }

    &__title
    {
        @extend .control__title;
        font-size: var(--label);
        margin: 0 0 10px 0;
    }

    &__text
    {
        font-size: var(--text14);
        margin: 5px 0px 0px 0px;
        color: var(--white);
    }

    &__container
    {
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        @include mixin.flex-style($direction:column, $align:start);  
        gap: 10px;
        overflow-y:auto;
        padding-right: 5px;
        margin-top: 20px;
        box-sizing: border-box;

    }

    &__icon
    {
        &--delete
        {
            @extend .card__icon--delete;
        }

    }
}

.pay
{
    &__container
    {
        @extend .billing__container;
        @include mixin.flex-style($direction:row, $align:start, $justify:space-between, $wrap:wrap); 
    }

    &__title
    {
        @extend .billing__title;
    }

    &__text
    {
        @extend .billing__text;
    }

    &__card
    {
        @extend .billing__card;
        width: 48%;
    }

    &__icon
    {
        &--delete
        {
            @extend .card__icon--delete;
        }
    }
}

.wish
{
    &__icon
    {
        &--x
        {
            @extend .card__icon--delete;
            top: 5px;
        }

        &--cart
        {
            font-size: var(--label);
            color: var(--white);
            background-color: var(--background_pink);
            position: absolute;
            @include mixin.padding(5px 10px);
            border-radius: 5px;
            bottom: 5px;
            right: 5px;
            cursor: pointer;
        }

        &--delete
        {
            @extend .wish__icon--cart;
            right: 50px;
            display: none;
        }
    }

    &__img
    {
        height: calc(100% + 10px);
        width: auto;
        margin: -5px 0px -5px -5px;
    }

    &__title
    {
        @extend .control__title;
        font-size: var(--label);
        margin: 5px 0px 5px 10px;
        white-space: nowrap;
    }

    &__text
    {
        font-size: var(--text);
        font-weight: 600;
        color: var(--white);
        margin: 0px 0px 5px 10px;
    }

    &__container
    {
        width: 100%;
        @include mixin.flex-style($justify:space-between, $direction:column);
    }
}

.order
{
    width: 100%;
    height: min-content;
    @include mixin.flex-style($direction:column);
    margin-top: 20px;

    &__top
    {
        @extend .card__class;
        width: 100%;
        min-height: 50px;
        @include mixin.padding(10px);
        display: grid;
        grid-template-columns: repeat(5, min-content);
        grid-template-rows: auto;
        justify-content: space-between;
        grid-template-areas: 'orderN date pay total icon'
    }

    &__title
    {
        @extend .control__title;
        font-size: var(--label);
        margin: 0;
    }

    &__bottom
    {
        width: 100%;
        transition: max-height 0.4s ease-in;
        @include mixin.flex-style($direction:column, $align:center);
        @include mixin.padding(5px 20px);
        overflow: hidden;
    }

    &__span
    {
        font-size: var(--text);
        color: var(--white);
        font-weight: 400;
    }

    &__text
    {
        @extend .order__total;
        margin: 0;
        white-space: nowrap;

        &--cant
        {
            @extend .order__text;
        }
    }

    &__number
    {
        @include mixin.text-style(var(--white), var(--text), 600);
        height: min-content;
        grid-area: orderN;
        white-space: nowrap;
        margin: 5px 0px;
    }

    &__date
    {   
        @extend .order__number;
        font-weight: 400;
        grid-area: date;
        align-self: center;
    }

    &__pay
    {
        @extend .order__number;
        grid-area: pay;
    }

    &__total
    {
        @extend .order__number;
        grid-area: total;
    }

    &__icon
    {
        @include mixin.text-style(var(--background_pink), var(--title25), 600);
        grid-area: icon;
        transition: all 0.4s;
        @include mixin.flex-style($align:center, $justify:center);
        cursor: pointer;
    }

    &__product
    {
        @extend .card__class;
        width: 100%;
        height: 120px;
        min-height: 120px;
        @include mixin.flex-style($align:center, $justify:start);
        position: relative;
        margin: 5px 0px;
    }

    &__img
    {
        height: 100%;
    }

    &__platform
    {
        font-size: var(--text);
        color: var(--white);
        margin: 10px 0px 0px 0px;
        
        &--icon
        {
            margin: 10px 10px 0px 0px;
        }
    }

    &__cant
    {
        &--min
        {
            font-size: 14px;
            color: var(--white);
            background-color: var(--background_pink);
            border-bottom-right-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            @include mixin.padding(5px 10px);
            display: none;
        }
    }

    &__container
    {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 45% repeat(2, min-content);
        grid-template-areas: 'nameG button price';
        grid-template-rows: 100%;
        justify-content: space-between;
        @include mixin.padding(10px);

        &--flex
        {
            width: 100%;
            grid-area: nameG;
            overflow: hidden;
            @include mixin.flex-style($direction:column, $justify:start);

            &:last-of-type
            {
                grid-area: price;
                justify-content: space-between
            }
        }
    }

    &__button
    {
        @extend .button--full;
        width: 140px;
        grid-area: button;
        align-self: center;
        justify-self: start;
        margin: 0;

        &--min
        {
            @extend .button--full;
            height: min-content;
            width: min-content;
            grid-area: button;
            font-size: var(--title25);
            @include mixin.padding(0px 5px);
            align-self: center;
            display: none;
        }

        &--external
        {
            @extend .control__button;
            height: min-content;
            font-size: var(--text);
            margin: 5px auto;
            display: none;
        }
    }

    &__keys
    {
        width: 100%;
        max-width: 350px;
        height: min-content;
        background-color: var(--background_secondary);
        border-radius: 8px;
        @include mixin.padding(10px);
    }
}

.keys
{
    &__title
    {
        @extend .control__title--primary;
        margin: 0 0 10px 0;
    }
}

.collapsed
{
    max-height: 0;

    &--unset
    {
        max-height: unset;
    }
}


.menu
{
    &__container
    {
        width: 100%;
        height: min-content;
        @include mixin.flex-style($direction:column, $align:center);
    }
}

  