{% extends 'admin/base_admin.html.twig' %}

{% block content %}

<section class="users">

    <article class="users__container">
        <div class="search"></div>
        <div class="users__container--column">
            {% include 'admin/ajax/adminUsers.html.twig' %}
        </div>
    </article>
    <article class="users__container users__container--data">
        {% include 'admin/ajax/usersData.html.twig' %}
    </article>

</section>

{% endblock %}