{% extends 'admin/base_admin.html.twig' %}

{% block content %}

<section class="users">

    <article class="users__container">
        <div class="search">
            <input type="text" name="search" placeholder="Buscar..." class="search__input search__input--users">
            <i class="bi bi-search search__icon"></i>
        </div>
        <div class="users__container--column">
            {% include 'admin/ajax/adminUsers.html.twig' %}
        </div>
    </article>
    <article class="users__container users__container--data">
        {% include 'admin/ajax/usersData.html.twig' %}
    </article>

</section>

{% endblock %}