@use '../mixins' as mixin;
@use '../var';

.index
{
    &__card
    {
        @extend .card__class;
        width: 280px;
        height: 350px;
        @include mixin.flex-style($justify:space-between, $direction:column);
        margin: 10px 0px;
        text-decoration: none;
        cursor: pointer;

        &--review
        {
            @extend .index__card;
            height: min-content;
        }
    }
}

.store
{
    &__card
    {
        @extend .index__card;
    }
}

.cart{
    &__product
    {
        @extend .card__class;
        width: 100%;
        height: 130px;
        @include mixin.flex-style($justify: start);
        margin-bottom: 15px;
        text-decoration: none;
        position: relative;
    }
}

.header
{
    &__card
    {
        @extend .cart__product;
        height: 70px;
        margin: 10px 0px;
    }
}


.card
{
    &__img
    {
        width: 100%;
        object-fit:contain;

        &--height
        {
            height: 100%;
        }

        &--container
        {
            width: 100%;
            position: relative;
        }

        &--span
        {
            position: absolute;
            top: 0;
            left: 0;
            border-bottom-right-radius: 5px;
            background-color: var(--background_pink);
            color: var(--white);
            padding: 8px 12px;
        }

        &--user
        {
            width: 25%;
            border-radius: 100%;
        }
    }

    &__text
    {
        @extend .text__class;
        line-height: 31px;
    }

    &__content
    {
        @include mixin.flex-style($justify:space-between, $align:start, $direction:column);
        padding: 0px 15px 0px 15px;
        flex-grow: 1;
        
        &--container
        {
            width: 100%;
            @include mixin.flex-style($justify:space-between, $align:center); 
        }

        &--long
        {
            height: 100%;
            @include mixin.flex-style($justify: space-between, $direction:column);
            @include mixin.padding(10px);
            flex-grow:  1;
            position: relative;
        }

        &--review
        {
            @include mixin.padding(10px 0);
            @include mixin.flex-style($justify:space-around, $align:stretch);
            width: 100%;
            height: min-content;
        }

    }

    &__title
    {
        @extend .text18__class;
        width: 100%;
        font-weight: 600;
        text-align: start;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;

        &--long{

            @extend .card__title;
            margin: 0px 0px 5px 0px;
            font-size: var(--text20);
            text-align: start;
        }

        &--search
        {
            @extend .card__title;
            text-align: start;
            margin: 0px 0px 5px 0px
        }
    }

    &__button
    {
        @extend .button--full;
        width: unset;
        margin: 0px 15px 15px 15px;


        &:hover
        {
            @include mixin.button-hover;
        }
    }

    &__val
    {
        @extend .info__span--val;
        font-size: var(--text20);

        &--review
        {
            @extend .info__span--val;
            font-size: var(--text20);
            width: 25%;
            height: initial;
            
        }
    }

    &__link
    {
        @include mixin.flex-style($justify:space-between, $direction:column);
        text-decoration: none;
    }

    &__icon
    {
        @extend .info__icon--data;

        &--selector
        {
            @extend .info__icon--data;
            color:  var(--background_pink);
            font-size: var(--text20);
            margin: 0;
            cursor: pointer;
        }

        &--delete
        {
            @extend .icon__class--pink;
            position: absolute;
            top: 8px;
            right: 10px;
            cursor: pointer;
        }

        &--review
        {
            @extend .icon__class--pink;
            margin: 5px auto;
            cursor: pointer;
            display: none
        }
    }

    &__platform
    {
        @extend .text__class;

        &--search
        {
            @extend .card__platform;
            font-size: 12px;
        }
    }

    &__discount
    {
        @extend .info__span--discount;
        position: absolute;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        left: 0;
        top: -10px;
    }

    &__price
    {
        @extend .title25__class;
        margin: 0;

        &--long
        {
            @extend .text20__class;
            position: absolute;
            bottom: 10px;
            right: 10px; 
        }

        &--search
        {
            @extend .card__price--long;
            font-size: var(--text);
        }

        

        &--discount
        {
            @extend .info__price--discount;

            &Search{
                @extend .info__price--discount;
                font-size: var(--text);
            }
        }
    }
}