@use '../mixins' as mixin;
@use '../var';

.gallery{

    &__img{
        height: 80%;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        @include mixin.flex-style($justify:center);
        box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);
    }

    &__asset{
        height: 100%;

        &--mobile
        {
            width: calc(100vw - 20px);
        }
    }

    &__container{
        height: 15%;
        width: 100%;
        @include mixin.flex-style($align:center, $justify:space-between);
        
        &--mobile
        {
            width: 100%;
            overflow: hidden;
            border-radius: 5px;
            position:relative;
        }
    }

    &__arrow{
        transition: all 0.25s;
        height: 45px;
        width: 45px;
        border-radius: 100%;
        border: 5px solid var(--background_pink);
        background-color: var(--background_pink);
        @include mixin.flex-style($align:center, $justify:center);
        box-sizing: border-box;
        cursor: pointer;

        &:hover{
            transition: all 0.25s;
            background-color: var(--background_pink_dark);
        }
    }

    &__icon{
        width: 35px;
        height: 35px;

        path{
            fill:  var(--white);
        }
    }

    &__min{
        width: min-content;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        &--selected{
            @extend .gallery__min;
            border:  2px solid var(--background_pink);
        }
    }

    &__wrapper
    {
        width: min-content;
        height: 100%;
        max-height: 500px;
        display: flex;
        transition: all 0.5s linear ;
        cursor: grab;
    }

    &__paginator
    {
        width: 30%;
        @include mixin.flex-style($justify:space-between, $align:center);
        position: absolute;
        left: calc(50% - (30% / 2));
        bottom: 10px;
    }

    &__ball
    {
        height: 10px;
        width: 10px;
        transition: all 0.15s linear;
        background-color: var(--background_secondary);
        border: 2px solid var(--background_primary);
        border-radius: 100%;

        &--selected
        {
            @extend .gallery__ball;
            background-color: var(--background_pink);
        }
    }
}

.title{
    @extend .title__class;
    width: 100%;
    margin-top: 0px;
}

.info{
    @extend .card__class;
    @include mixin.padding(20px);
    @include mixin.flex-style($align:center, $direction:column);
    height: min-content;
    width: 28%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);

    &__title{
        @extend .text20__class;
        width: 100%;
        text-align: center;
    }

    &__price{
        color: var(--white);
        font-size: clamp(25px, 2vw, 40px);
        font-weight: 400;
        margin: 15px;
        flex-grow: 1;
        text-align: center;

        &--discount{
            color: var(--light_white);
            font-weight: 400;
            flex-grow: 1;
            text-align: center;
            font-size: 1.2rem;
            margin-right: 10px;
            position: relative;
            text-decoration:line-through;
            text-decoration-color: var(--background_pink);
            text-decoration-thickness: 3px;
        }
    }


    &__asset{
        width: calc(100% + 40px);
        margin: -20px -20px 0px -20px;
        object-fit: cover;
    }

    &__button{
        @extend .button--full;

        &--buy{
            @extend .info__button;
            width: 80%;

            &:hover{
                transition: all 0.25s;
                background-color: var(--background_pink_dark);
            }
        }

        &--wish{
            @extend .info__button;
            width: 15%;
            @include mixin.flex-style($justify:center, $align:center);

            &:hover{
                transition: all 0.25s;
                background-color: var(--background_pink_dark);
            }
        }
    }

    &__icon{
        width: min-content;
        height: min-content;
        font-size: clamp(30px, 3vw, 50px);
        color: var(--background_pink);
        
        &--stock{
            @extend .info__icon;
        }

        &--data{
            margin-right: 5px;
        }

    }

    &__container{
        width: 100%;
        @include mixin.flex-style($justify:space-between, $align:center);

        &--buttons
        {
            @extend .info__container;
        }
    }

    &__list{
        width: 100%;
        list-style: none;
        margin: 45px 0px;
        padding: 0;
    }

    &__item{
        color: var(--light_white);
        margin: 10px 0px;
        @include mixin.flex-style($justify:space-between);
    }

    &__span
    {
        font-size: var(--text);
    }

    &__span--data{
        font-size: var(--text);
        color: var(--white);
    }

    &__span--val{
        font-size: clamp(15px, 1.7vw, 25px);
        width: clamp(30px, 3.3vw, 50px);
        height: clamp(30px, 3.3vw, 50px);
        font-weight: 600;
        @include mixin.flex-style($justify:center, $align:center);
        color: var(--background_pink);
        border-radius: 100%;
        border: 3px solid var(--background_pink);
    }

    &__span--discount{
        @extend .text__class;
        background-color: var(--background_pink);
        padding: 5px 15px;
        border-radius: 5px;
        margin-top: 10px;
    }

    &__cards{
        width: 100%;
        @include mixin.flex-style($justify:space-between);
        margin: 10px 0px;
    }

    &__card{
        height: 80px;
        width: 90px;
        @include mixin.flex-style($justify:space-between, $direction:column, $align:center);
        &--pegi{
            height: 80px;
        }
    }
}

.desc{
    width: 70%;

    &__title{
        color: var(--white);
        font-size: 22px;

        &--primary{
            @extend .title__class;
        }
    }

    &__text{
        @extend .text__class;
        color: var(--light_white);
        line-height: 30px;
    }
}

.specs{
    height: min-content;
    width: 70%;
    @include mixin.flex-style($justify:space-between, $wrap:wrap);

    &__container{
        width: 45%;
    }

    &__list{
        @extend .info__list;
        font-size: var(--text);
        margin: 0;
    }

    &__item{
        @extend .info__item;
    }

    &__title{
        color: var(--light_white);
        margin-bottom: 20px;

        &--primary{
            @extend .desc__title--primary;
            width: 100%;
        }
    }

    &__span--data{
        color: var(--white);
    }
}

.reviews
{
        @include mixin.flex-style($justify:space-between, $direction:column);
    height: min-content;
    width: 70%;
    position: relative;

    &__title
    {
        @extend .desc__title--primary;
    }

    &__container{
        @include mixin.flex-style($justify:space-between, $direction:column);
        position: relative;

        &--val
        {
            width: max(60px, 13%);
            @include mixin.flex-style($justify:center, $align:center);
        }
        
        &--content
        {
            height: 100%;
            width: 85%;
            @include mixin.flex-style($direction:column, $align:end);
            @include mixin.padding(0 0 0 10px);
        }

        &--title
        {
            @include mixin.flex-style($justify:space-between, $align:center);
            width: 100%;
        }

        &--form
        {
            @extend .contact__container;
        }
    }

    &__card
    {
        @extend .card__class;
        @include mixin.padding(10px);
        @include mixin.flex-style($justify:space-between);
        width: 100%;
        margin-bottom: 15px;
        box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);

    }

    &__span--val
    {
        @extend .info__span--val;
        width: calc(clamp(45px, 5.3vw, 80px));
        height: calc(clamp(45px, 5vw, 80px));
        font-size: calc(clamp(13px, 1.7vw, 25px) + 10px)
    }

    &__content
    {
        width: 100%;
        height: 80%;
        @include mixin.flex-style($align:center);
    }

    &__text
    {
        @extend .text__class;
        line-height: 25px;

        &--info
        {
            @extend .reviews__text;
            @include mixin.flex-style($align:center);
            color: var(--light_white);
            width: min-content;
            white-space: nowrap;
        }

        &--date
        {
            @extend .reviews__text--info;
            margin: 0px 0px 0px 10px;
        }
    }

    &__info
    {
        height: 20%;
        width: 220px;
        min-width: min-content;
        @include mixin.flex-style($justify:space-between);
        margin-right: 10px;
    }

    &__img
    {
        height: 30px;
        border-radius: 100%;
        margin-right: 10px;
    }

    &__paginator
    {
        @include mixin.flex-style($justify:center, $align:center);
        width: 100%;
        height: 30px;
    }


    &__loading
    {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        animation: ring 2s linear infinite;
        margin: 50px auto;

        &::before
        {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 0 5px var(--background_secondary);
        }
    }

    &__button
    {
        @extend .button--full;
        width: 140px;
    }

    &__form
    {
        @extend .contact__form;

        &--container
        {
            @include mixin.flex-style($justify:center, $align:center);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 10;
            border-radius: 8px;
        }
    }

    &__input
    {
        @extend .input__class;
        height: 250px;
        resize: none;

        &--cal
        {
            @extend .text18__class;
            color:  var(--background_pink);
            width: 40px;
            margin:  0 auto;
            height: 40px;
            border-radius: 100%;
            border: 2px solid var(--background_pink);
            background-color: var(--background_secondary);
            padding: 10px;
            text-align: center;

            &::placeholder
            {
                color: var(--background_pink);
            }
        }
    }

    &__label
    {
        @extend .contact__label;
    }
}

@keyframes ring 
{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 2px 1px var(--background_pink);
    }

    50%{
        transform: rotate(180deg);
        box-shadow: 1px 2px 1px var(--background_pink);
    }

    100%{
        transform: rotate(360deg);
        box-shadow: 1px 2px 1px var(--background_pink);
    }

}