<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family:verdana">
    <table width="600px" style="border-collapse:collapse; border: none;">
        <tr height="20px" style="background-color: #21173f;">
            <td colspan="3"></td>
        </tr>
        <tr height="100px" style="background-color: #231b36;">
            <td  width="50px" style="border-color: black;"></td>
            <td  style="border-color: black;text-align: center;">
                <h1 style="color: white">CHEAPKEYS</h1>
            </td>
            <td  width="50px"  style="border-color: black;"></td>
        </tr>
        <tr height="40px">
            <td style="background-color: #231b36;"></td>
            <td style="background-color:#362958; text-align: center; padding:10px " rowspan="2">
                <h1 style="color: #fff; font-size: 22px;padding-bottom: 30px;">{{ emailTitle }}</h1>
                <p style="color: #fff; font-size: 22px; padding-bottom: 30px;" >{{ emailContent }}</p>
            </td>
            <td style="background-color: #231b36;"></td>
        </tr>
        <tr height="400px" style="background-color:#fff">
            <td ></td>
            <td ></td>
        </tr>
        <tr height="16px" style="background-color:#fff">
            <td style="" colspan="3"></td>
        </tr>
        <tr height="10px" style="background-color:white">
            <td  colspan="3"></td>
        </tr>
        <tr height="120px" style="background-color:#231b36; text-align: center;">
            <td colspan="3">
                <p style="color: white;font-size: 22px; margin-top:0;">¿Desea visitar CheapKeys?</p>
                <a style="color: white;font-size: 20px;padding: 10px; margin-bottom:30px; border-radius:10px; background-color:#FF346D; text-decoration:none;" href="http://cheapkeys.sagaraque.com.es">Pinche aqui</a>
            </td>
        </tr>
    </table>
</body>
</html>