{% extends 'base.html.twig' %}

{% block body %}

<main class="index" role="main">
    <section class="index__gallery">
        GALLERY
    </section>
    <section class="container__index">
        <h2 class="index__title">Últimas ofertas</h2>
        <div class="index__container">
            <a class="index__card">
                <div class="card__img--container">
                    
                </div>
                <div class="card__content">
                
                </div>
            </a>
            <a class="index__card">GAME CARD</a>
            <a class="index__card">GAME CARD</a>

            <a class="index__card">GAME CARD</a>
            <a class="index__card">GAME CARD</a>
            <a class="index__card">GAME CARD</a>
        </div>
    </section>
    <section class="container__index">
        <div class="index__banner">
            BANNER
        </div>
    </section>
    <section class="container__index">
        <h2 class="index__title">Juegos más vendidos</h2>
        <div class="index__container">
            <a class="index__card">GAME CARD</a>
            <a class="index__card">GAME CARD</a>
            <a class="index__card">GAME CARD</a>

            <a class="index__card">GAME CARD</a>
            <a class="index__card">GAME CARD</a>
            <a class="index__card">GAME CARD</a>
        </div>
    </section>
</main>

{% endblock %}
