{% extends 'base.html.twig' %}

{% block body %}

<main class="index" role="main">
    <section class="index__gallery">
        <i class="bi bi-chevron-left index__arrow"></i>
        <i class="bi bi-chevron-right index__arrow"></i>
    </section>
    <section class="index__container">
        <h2 class="index__title">Los más vendidos</h2>
        
    </section>
    <section class="index__banner">

    </section>
    <section class="index__container">
        <h2 class="index__title">Últimas ofertas</h2>
        
    </section>
    <section class="index__banner">

    </section>
    <section class="index__container">
        <h2 class="index__title">Últimas reseñas</h2>
        
    </section>
</main>

{% endblock %}
