@use 'mixins' as mixin;
@use 'var';

.cart
{
    &__data
    {
        width:clamp(200px, 35vw, 415px);
        height: 250px;
        @include mixin.flex-style($justify: space-between, $direction:column);
        background-color:var(--background_secondary);
        border-radius: 8px;
        padding:20px;
        box-sizing: border-box;
    }

    &__products
    {
        width: 670px;
        height: min-content;
    }

    &__title
    {
        width: 100%;
        color: var(--white);
        font-size: var(--title25);
        font-weight: 600;
        margin: 10px 0px;
    }

    &__list
    {
        width: 100%;
        height: 35%;
        list-style: none;
        color: var(--white);
        @include mixin.flex-style($justify: space-between, $direction:column);
        padding: 0;
    }

    &__item
    {
        @include mixin.flex-style($justify: space-between);
        font-size: var(--text20);
    }

    &__text
    {

        &--light
        {
            color: var(--light_white);
        }

        &--total
        {
            font-size: var(--title25);
            font-weight: 600;
        }
    }

    &__button
    {
        width: 100%;
        font-size: var(--text20);
        background-color: var(--background_pink);
        color: var(--white);
        padding: 8px 0px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }

    &__img
    {
        height: 100%;
    }

    &__cant
    {
        @extend .info__span--data;
        font-size: var(--text20);
        margin: 0px 10px;
    }
}