@use 'mixins' as mixin;
@use 'var';

.container
{
    width: 100%;
    height: min-content;

    &__form, &__img
    {
        width: 38%;
        min-height: calc(100vh - 120px)
    }

    &__form
    {
        @include mixin.flex-style($justify: center, $align: center, $direction:column);
        padding: 20px 0px;
        box-sizing: border-box;
    }

    &__img
    {  
        width: 62%;
        background-image: url('../img/loginBackground.webp');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::after
        {
            content: "";
            height: 100%;
            width: 15%;
            background-color: var(--background_body);
            position: absolute;
            left: -2px;
            top: 0;
            webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%);
        }
    }

    &__index
    {
        width: 100%;
        height: min-content;
        @include mixin.flex-style($direction:column, $justify:space-between);
        margin: 15px 0px;
    }
}

.main
{
    width: 1280px;
    height: min-content;
    padding: 10px;
    box-sizing: border-box;
    @include mixin.flex-style($justify: space-between, $wrap: wrap);
    margin: 30px 0px;

    &__form
    {
        width: 100%;
        height: min-content;
        @include mixin.flex-style($justify: space-between);
    }
}

.control
{
    @extend .main;
}

.header
{
    &__container
    {
        width: 450px;
        @include mixin.flex-style($justify:space-around);
    }
}

.gallery
{
    height: 620px;
    width: min-content;
    @include mixin.flex-style($direction:column, $align:center, $justify:space-between);
    
    
}

.index
{
    @extend .main;

    &__gallery
    {
        height: 620px;
        width: 100%;
        background-color: red;
    }


    &__container
    {
        height: min-content;
        @include mixin.flex-style($align:center, $justify:space-between, $wrap:wrap);
    }

    &__banner
    {
        height: 200px;
        background-color: aqua;
    }
}

.cart
{
    @extend .main;
    min-height: calc(100vh - 400px);
}

.store
{
    @extend .main;
    margin: 0;

    &__container
    {
        height: min-content;
        
        &--title
        {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, auto);
        }

        &--select
        {
            color: var(--white);
            grid-area: 2 / 4 / 3 / 7;
            justify-self: end;
        }

        &--menu
        {
            width: 20%;
            height: min-content;
            background-color: var(--background_secondary);
            @include mixin.flex-style($justify:start, $direction:column);
            margin-top: 20px;
            padding: 0px 20px;
            border-radius: 8px;
            box-sizing: border-box;
        }

        &--products
        {
            width: 100%;
            height: min-content;
            @include mixin.flex-style($justify:start, $wrap: wrap);
            gap: 25px;
        }

        &--content
        {
            @include mixin.flex-style($justify:start, $direction:column);
            width: 74%;
            height: min-content;
            margin-top: 20px;
            position: relative;
        }
        &--paginator
        {
            @include mixin.flex-style($justify:center, $align:center);
            width: 100%;
            height: min-content;
            margin-top: 20px;
        }
    }
}

