@use 'mixins' as mixin;
@use 'var';

.form{
    
    &--login{
        width: 600px;
        height: 600px;
        @include mixin.flex-style($align:center, $direction:column);
        border-radius: 20px;
    }

    &__title, &__label{
        font-size: 35px;
        color: var.$white;
    }

    &__label{
        font-size: 20px;
    }

    &__field{
        width: min-content;
        height: min-content;
        margin: 10px 0px;
        @include mixin.flex-style($align:start, $direction:column);
        
    }

    &__input{
        width: 380px;
        height: 60px;
        font-size: 20px;
        color: var.$white;
        background-color: var.$background_primary;
        border: none;
        margin-top: 5px;
        padding: 15px;
        border-radius: 5px;
        border: 3px solid var.$background_secondary;
        box-sizing: border-box;
    }

    &__submit{
        height: 45px;
        width: 380px;
        color: var.$white;
        background-color: var.$background_pink;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
}