@use 'mixins' as mixin;
@use 'var';



@media (max-width: 1480px) {

    // Responsive header
    .header{
        &__top, &__bottom
        {
            width: 1280px;
            position: relative;
        }
    }

    // Responsive product

    .info{
        // width: 25%;

        &__asset{
            height: 150px;
        }

        &__list
        {
            margin:30px 0px ;
        }

        &__card
        {
            height: 70px;
            width: 60px;

            &--pegi
            {
                height: 70px;
            }
        }
    }

    .gallery
    {
        height: 520px;
    }

    //Responsive cart
    .cart
    {
        &__products
        {
            width: unset;
            flex-grow: 1;
            margin-right: 20px;
        }
    }
    
}

@media (max-width: 1250px) 
{
    .main
    {
        width: 100%;
    }

    .gallery
    {
        height: 480px;
    }

    .info
    {
        &__asset
        {
            height: 120px;
        }
    }

    .desc
    {
        &__text
        {
            line-height: 25px;
        }
    }

    .header
    {
        height: 140px;

        &__top
        {
            width: 100%;
        }

        &__bottom
        {
            width: 100%;
        }
    }

    // Footer responsive

    .footer
    {
        &__top, &__bottom
        {
            width: 100%;
        }
    }
}

@media (max-width: 992px) 
{
    .main
    {
        margin-top: 110px;
    }

    .header
    {
        background:  linear-gradient(180deg, var(--background_primary) 98%, var(--background_secondary) 2%);
        position: fixed;
        z-index: 4;

        &__top
        {
            height: 55%;
            @include mixin.flex-style($align:center, $justify:space-between);
            padding: 10px 30px;
            box-sizing: border-box;
        }

        &__bottom
        {
            height: 45%;
        }

        &__nav
        {   
            width: 250px;
            height: calc(100vh - 80px);
            @include mixin.flex-style($align:top, $justify:center);
            background-color: var(--background_secondary);
            position: absolute;
            display: none;
            top: 0px;
            left: 0;

            &::before
            {
                content: "";
                height: calc(100vh - 80px);
                width: calc(100vw - 250px);
                position: absolute;
                top: 0;
                left: 250px;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        &__list
        {
            height: min-content;
            @include mixin.flex-style($align:center, $justify:space-between, $direction: column);
            padding: 0;
        }

        &__container
        {
            width: min-content;
        }

        &__user
        {
            &--img
            {
                margin: 0px 15px;
            }
            
        }

        &__cartCant
        {
            bottom: -10px;
        }

        &__container
        {
            &--movile
            {
               display: flex;
            }
        }

        &__logo
        {
            display: none;
        }

        &__form
        {
            width: calc(100% - 20px);
            height: 45px;
            position: absolute;
            left: -10px;
            bottom: calc( ((-140px * 0.45) / 2) + (-45px / 2));
            z-index: 4;
        }

        &__input
        {
            width: calc(100% - 50px);
        }

        &__icon
        {
            &--search
            {
                display: block;
            }
        }
    }
}

@media (max-width: 750px) 
{
    .header
    {
        height: 100px;

        &__top
        {
            padding: 10px 10px;
        }

        &__link, &__link--m10
        {
            display: none;

            &--list
           {
                display: block;
                margin: 20px 0px;
            }
        }

        &__nav
        {
            top: calc((100px * 0.45));
        }

        &__form
        {
            height: 30px;
            bottom: calc( ((-100px * 0.45) / 2) + (-15px));
        }
    }

    .footer
    {
        &__top
        {
            justify-content: space-between;
        }

        &__list
        {
            width: min-content;
            margin: 10px;

            &--networks
            {
                width: 100%;
                @include mixin.flex-style($align:center, $justify:center, $direction: row);
            }
        }

        &__icon
        {
            margin: 0px 10px;
        }
    }
}

@media (max-width: 500px) 
{
    .footer
    {
        background: none;
        &__top
        {
        //    flex-direction: column;
            background-color: var(--background_secondary);
            gap: 20px;
        }

        &__bottom 
        {
            background-color: var(--background_primary);
        }

        &__list
        {
            width: min-content;
            margin:  0px;

            &--networks
            {
                width: min-content;
                @include mixin.flex-style($align:center, $justify:space-between, $direction: column);
            }
        }

        &__icon
        {
            margin: 0px 10px;
        }
    }
}

@media (max-width: 380px) 
{
    .footer
    {
        &__top
        {
           justify-content: center;
        }

        &__list
        {
            width: 100%;
            text-align: center;
        }
    }

    .header{
        &__logo
        {
            &--img
            {
                display: none;
                &Movile
                {
                    display: block;
                }
            }
        }
    }
}

.header
{   
    &__form
    {
        &--visible
        {
            display: flex;
            width: calc(100% - 20px);
        }
    }
}

.displayNone
{
    display: none;
}

.opacityNone
{
    opacity: 0;
}