@use 'mixins' as mixin;
@use 'var';



@media (max-width: 1480px) {

    .main
    {
        width: 1100px;
    }

    // Responsive header
    .header{
        &__top, &__bottom{
            width: 1280px;
        }

        &__input{
            width: 350px;
        }
    }

    // Responsive product

    .info{
        // width: 25%;

        &__asset{
            height: 150px;
        }

        &__list
        {
            margin:30px 0px ;
        }

        &__card
        {
            height: 70px;
            width: 60px;

            &--pegi
            {
                height: 70px;
            }
        }
    }

    .gallery
    {
        height: 520px;
    }
}

@media (max-width: 1250px) 
{
    .gallery
    {
        height: 480px;
    }

    .info
    {
        &__asset
        {
            height: 120px;
        }
    }

    .desc
    {
        &__text
        {
            line-height: 25px;
        }
    }
}