$background_primary: #21173f;
$background_secondary:#362958;
$background_body:#231b36;
$input_border:#413b4e;
$background_pink: #FF346D;
$background_pink_dark: #e43869;
$white: #fff;
$light_white: #cecece;
$black:#000;
$green:#34aa34;
$red: #fc4141;

// Fonts

$text: 16px;
$text20: 20px;
$label: 18px;
$title: 35px;
$title25: 25px;
