{% extends "base.html.twig" %}

{% block body %}
<main class="main__form">
    <div class="container__form">

        {% block form %}

        {% endblock %}
        
    </div>
    <div class="container__img">

    </div>
</main>
{% endblock %}