{% extends "users/control_panel.html.twig" %}

{% block content %}
    <h2 class="control__title--primary">Pedidos: {{ orders.items | length }}</h2>
    <article class="control__order">
    
        {% include('ajax/ordersCard.html.twig') %}

    </article>

    <div class="reviews__paginator">
        {% if orders.lastPage != 1 %}
            <i class="bi bi-chevron-left paginator__button--disabled" direction="left"></i>
            <span class="paginator__page">
                Página <span class="paginator__actual">1</span> de <span class="paginator__last">{{ orders.lastPage }}</span>
            </span>
            <i class="bi bi-chevron-right paginator__button" direction="right"></i>
        {% endif %}
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('static/javascript/users.js') }}"></script>
    <script src="{{ asset('static/javascript/users/orders.js') }}"></script>
{% endblock %}