{% extends 'users/control_panel.html.twig' %}

{% block content %}

    <h2 class="control__title">Lista de deseos</h2>

    {% for game in games %}

        {% set counter = ( counter | default(0) ) + 1 %}
        <div class="control__card--wish">
            <img src="{{ asset('static/img/games/' ~ images[counter - 1].mediaUrl ~ '.webp') }}" alt="{{ images[counter - 1].mediaAlt }}" class="control__img--card"> 
            <div class="control__container--card">
                <h2 class="control__title--card">{{game.idGame.gameName}}</h2> 
            </div>
        </div>

    {% endfor %}

{% endblock %}